Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        target: 80%
        flags: backend
      frontend:
        target: 80%
        flags: frontend

flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - frontend/

format backend folder again
  backend/src/controllers/users-controller.ts
  backend/src/entities/activity.ts
  backend/src/entities/user.ts
  backend/src/services/user-service.ts
  backend/test/services/http-service.spec.ts
Due: backend

add profile form to frontend
  frontend/src/components/form.tsx
  frontend/src/components/page-wrapper.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/routes.ts
Due: frontend

remove websockets and activity service
  backend/src/controllers/activity-controller.ts
  backend/src/controllers/settings-controller.ts
  backend/src/controllers/users-controller.ts
  backend/src/entities/activity.ts
  backend/src/entities/user.ts
  backend/src/services/activity-service.ts
  backend/src/services/http-service.ts
  backend/src/services/tilt-service.ts
  backend/src/services/ws-service.ts
  backend/test/controllers/settings-controller.spec.ts
  backend/test/controllers/users-controller.spec.ts
  backend/test/services/activity-service.spec.ts
  backend/test/services/http-service.spec.ts
  backend/test/services/mock/mock-activity-service.ts
  backend/test/services/mock/mock-http-service.ts
  backend/test/services/mock/mock-ws-service.ts
  backend/test/services/tilt-service.spec.ts
  backend/test/services/ws-service.spec.ts
  frontend/src/api/backend-api.ts
  frontend/src/api/index.ts
  frontend/src/api/static-api.ts
  frontend/src/components/activity-event.tsx
  frontend/src/components/activity.tsx
  frontend/src/components/page-wrapper.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/contexts/ws-context.tsx
  frontend/src/hooks/use-activity.ts
  frontend/src/index.tsx
  frontend/src/routes.ts
  frontend/src/state.ts
  frontend/src/ws/index.ts
  frontend/test/__mocks__/api.ts
  types/activity.d.ts
  types/ws.d.ts
Due: backend, frontend

rename owner user role to root
  backend/src/controllers/settings-controller.ts
  backend/src/services/http-service.ts
  backend/test/services/http-service.spec.ts
  frontend/src/components/sidebar.tsx
  types/roles.d.ts
Due: backend, frontend

add upgraded dependencies
  backend/yarn.lock
Due: backend

remove ws dependencies
  backend/package.json
  backend/yarn.lock
Due: backend

upgrade frontend dependencies
  frontend/yarn.lock
Due: frontend

drop monaco editor
  frontend/package.json
  frontend/src/components/diff-editor.tsx
  frontend/src/components/editor.tsx
  frontend/test/__mocks__/react-monaco-editor.tsx
  frontend/webpack.config.js
  frontend/yarn.lock
Due: frontend

use emotion instead of styled components
  frontend/package.json
  frontend/src/components/app.tsx
  frontend/src/components/blur-container.tsx
  frontend/src/components/button.tsx
  frontend/src/components/centering.tsx
  frontend/src/components/checkbox.tsx
  frontend/src/components/editable-question.tsx
  frontend/src/components/email-settings.tsx
  frontend/src/components/email-template-editor.tsx
  frontend/src/components/fade-container.tsx
  frontend/src/components/form-editor.tsx
  frontend/src/components/form-field.tsx
  frontend/src/components/form.tsx
  frontend/src/components/grid.tsx
  frontend/src/components/headerbar.tsx
  frontend/src/components/headings.tsx
  frontend/src/components/link.tsx
  frontend/src/components/login-image.tsx
  frontend/src/components/login-signup-form.tsx
  frontend/src/components/message.tsx
  frontend/src/components/notification.tsx
  frontend/src/components/page-not-found.tsx
  frontend/src/components/page-wrapper.tsx
  frontend/src/components/placeholder.tsx
  frontend/src/components/question.tsx
  frontend/src/components/segment-button.tsx
  frontend/src/components/select.tsx
  frontend/src/components/sidebar-burger.tsx
  frontend/src/components/sidebar-logo.tsx
  frontend/src/components/sidebar-menu.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/components/text-input.tsx
  frontend/src/components/verify-email.tsx
  frontend/src/theme.ts
  frontend/src/theme.tsx
  frontend/webpack.config.js
  frontend/webpack.styled-components.js
  frontend/yarn.lock
Due: frontend

update settings db schema
  backend/src/entities/answer.ts
  backend/src/entities/application-settings.ts
  backend/src/entities/application.ts
  backend/src/entities/email-settings.ts
  backend/src/entities/email-template.ts
  backend/src/entities/form-settings.ts
  backend/src/entities/frontend-settings.ts
  backend/src/entities/question.ts
  backend/src/entities/settings.ts
  backend/src/entities/user.ts
  backend/src/services/answer-service.ts
  backend/src/services/question-service.ts
  backend/src/services/settings-service.ts
Due: backend

use DTOs to separate entities from http
  backend/src/controllers/api.ts
  backend/src/controllers/dto.ts
  backend/src/controllers/settings-controller.ts
  backend/src/controllers/users-controller.ts
  backend/src/interceptors/response-interceptor.ts
  backend/src/middlewares/error-handler-middleware.ts
  backend/src/validation/update-settings.ts
  backend/src/validation/user-login.ts
  backend/src/validation/user-signup.ts
Due: backend

upgrade backend dependencies
  backend/yarn.lock
Due: backend

add static server
  backend/.env.example
  backend/src/middlewares/404-middleware.ts
  backend/src/services/config-service.ts
  backend/src/services/http-service.ts
Due: backend

remove separated dependency files
  backend/package.json
  backend/yarn.lock
  frontend/package.json
  frontend/yarn.lock
Due: backend, frontend

fix broken http tests
  backend/src/services/http-service.ts
  backend/test/services/http-service.spec.ts
Due: backend

fix broken frontend tests
  frontend/src/components/button.tsx
  frontend/src/components/spinner.tsx
  frontend/test/components/__snapshots__/message.spec.tsx.snap
  frontend/test/components/choices-question.spec.tsx
Due: frontend

use centralized dependencies
  .circleci/config.yml
  README.md
  package.json
  yarn.lock
Due: none

fix dependencies badge
  README.md
Due: none

use ts-loader and turn off typechecking in webpack
  frontend/webpack.config.js
  package.json
  yarn.lock
Due: frontend

upgrade typescript and prettier
  backend/src/entities/form-settings.ts
  frontend/src/components/form-field.tsx
  package.json
  yarn.lock
Due: backend, frontend

split enums from entities
  backend/src/controllers/dto.ts
  backend/src/controllers/settings-controller.ts
  backend/src/controllers/users-controller.ts
  backend/src/entities/question-type.ts
  backend/src/entities/question.ts
  backend/src/entities/user-role.ts
  backend/src/entities/user.ts
  backend/src/services/application-service.ts
  backend/src/services/http-service.ts
  backend/src/services/user-service.ts
  backend/test/controllers/users-controller.spec.ts
  backend/test/services/http-service.spec.ts
Due: backend

separate type imports from value imports
  frontend/src/api/backend-api.ts
  frontend/src/api/index.ts
  frontend/src/api/static-api.ts
  frontend/src/api/types.d.ts
  frontend/src/api/types/controllers.ts
  frontend/src/api/types/dto.ts
  frontend/src/api/types/enums.ts
  frontend/src/components/application-settings.tsx
  frontend/src/components/choices-question.tsx
  frontend/src/components/country-question.tsx
  frontend/src/components/editable-question.tsx
  frontend/src/components/email-settings.tsx
  frontend/src/components/email-template-editor.tsx
  frontend/src/components/form-editor.tsx
  frontend/src/components/form.tsx
  frontend/src/components/frontend-settings.tsx
  frontend/src/components/number-question.tsx
  frontend/src/components/question.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/components/text-question.tsx
  frontend/src/contexts/login-context.tsx
  frontend/src/contexts/settings-context.tsx
  frontend/src/state.ts
Due: frontend

add bundle analyzer
  .gitignore
  frontend/webpack.config.js
  package.json
  yarn.lock
Due: frontend

merge tslint configs
  backend/tslint.json
  package.json
  tslint.json
Due: backend

merge docker files to single image
  .dockerignore
  Dockerfile
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  package.json
  proxy/nginx.conf
Due: backend, frontend

ignore vscode settings
  .gitignore
Due: none

fix dto types
  backend/src/controllers/dto.ts
Due: backend

debounce settings change centrally
  frontend/src/components/application-settings.tsx
  frontend/src/components/email-settings.tsx
  frontend/src/components/email-template-editor.tsx
  frontend/src/components/frontend-settings.tsx
  frontend/src/contexts/settings-context.tsx
Due: frontend

remove stateful text input
  frontend/src/components/text-input.tsx
Due: frontend

remember fortunes through hook
  frontend/src/components/editable-question.tsx
  frontend/src/hooks/use-fortune.ts
Due: frontend

use callbacks more often
  frontend/src/components/button.tsx
  frontend/src/components/checkbox.tsx
  frontend/src/components/form-editor.tsx
  frontend/src/components/question.tsx
  frontend/src/components/text-input.tsx
  frontend/src/components/text-question.tsx
Due: frontend

add tslint-react-hooks
  package.json
  tslint.json
  yarn.lock
Due: none

remove editor component
  frontend/src/components/editor.tsx
Due: frontend

setup reflect-metadata in test
  backend/jest.config.js
  backend/test/setup.ts
Due: backend

update entire question on change
  backend/src/controllers/dto.ts
  frontend/src/components/application-settings.tsx
  frontend/src/components/choices-question.tsx
  frontend/src/components/editable-question.tsx
  frontend/src/components/form-editor.tsx
  frontend/src/components/number-question.tsx
  frontend/src/components/question.tsx
  frontend/src/components/text-question.tsx
Due: backend, frontend

update settings locally after saving in db
  frontend/src/contexts/settings-context.tsx
Due: frontend

fix question configuration transform
  backend/src/controllers/dto.ts
Due: backend

merge into existing settings entity
  backend/src/services/settings-service.ts
Due: backend

move questions to folder
  frontend/src/components/question.tsx
  frontend/src/components/questions/choices-question.tsx
  frontend/src/components/questions/country-question.tsx
  frontend/src/components/questions/number-question.tsx
  frontend/src/components/questions/text-question.tsx
  frontend/test/components/choices-question.spec.tsx
Due: frontend
