Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

change forgot password email to admitted email
  backend/src/controllers/dto.ts
  backend/src/entities/settings.ts
  backend/src/services/settings-service.ts
  backend/test/services/settings-service.spec.ts
  frontend/src/components/settings/email-settings.tsx
Due: backend, frontend

send admission email
  backend/src/services/application-service.ts
  backend/src/services/email-template-service.ts
  backend/test/services/application-service.spec.ts
  backend/test/services/mock/mock-email-template-service.ts
Due: backend

check confirmation before declaring expiration
  frontend/src/util.ts
Due: frontend

use base tag href attribute value
  frontend/src/config.ts
Due: frontend

add default verification email template
  backend/src/services/config-service.ts
  backend/src/services/settings-service.ts
  backend/test/services/application-service.spec.ts
  backend/test/services/settings-service.spec.ts
Due: backend

fix handlebars syntax in verify url
  backend/src/services/settings-service.ts
Due: backend

join default verify url to prevent double slash
  backend/src/services/settings-service.ts
Due: backend

prevent admitted users updating their profile
  backend/src/controllers/application-controller.ts
  backend/src/services/application-service.ts
  backend/test/services/application-service.spec.ts
Due: backend

add detailed readme
  README.md
Due: none

fix signup form not showing success message after login error
  frontend/src/components/pages/login-signup-form.tsx
Due: frontend

link status to forms
  frontend/src/components/pages/status.tsx
Due: frontend

replace spacer flexviews with components
  frontend/src/components/base/divider.tsx
  frontend/src/components/base/flex.tsx
  frontend/src/components/base/form-field-button.tsx
  frontend/src/components/base/grid.tsx
  frontend/src/components/base/progress-step.tsx
  frontend/src/components/forms/choices-question-editor.tsx
  frontend/src/components/forms/form.tsx
  frontend/src/components/forms/number-question-editor.tsx
  frontend/src/components/forms/text-question-editor.tsx
  frontend/src/components/forms/unified-question-editor.tsx
  frontend/src/components/pages/admission.tsx
  frontend/src/components/pages/status.tsx
  frontend/src/components/settings/application-settings.tsx
  frontend/src/components/settings/email-template-editor.tsx
  frontend/src/components/settings/form-editor.tsx
  frontend/src/components/settings/frontend-settings.tsx
  frontend/src/config.ts
Due: frontend

add responsive meta tag
  frontend/src/index.html
Due: frontend

hide sidebar on page load
  frontend/src/components/routers/authenticated-router.tsx
Due: frontend

prevent expanding admission table on mobile
  frontend/src/components/pages/admission.tsx
Due: frontend

use string prop for headings
  frontend/src/components/base/collapsible.tsx
  frontend/src/components/base/error-boundary.tsx
  frontend/src/components/base/headings.tsx
  frontend/src/components/base/markdown.tsx
  frontend/src/components/base/progress-step.tsx
  frontend/src/components/forms/form.tsx
  frontend/src/components/pages/admission.tsx
  frontend/src/components/pages/login-signup-form.tsx
  frontend/src/components/pages/page-not-found.tsx
  frontend/src/components/pages/settings.tsx
  frontend/src/components/pages/statistics.tsx
  frontend/src/components/pages/status.tsx
  frontend/src/components/pages/verify-email.tsx
  frontend/src/components/settings/email-template-editor.tsx
  frontend/src/components/settings/form-editor.tsx
  frontend/src/components/settings/settings-section.tsx
Due: frontend

encapsulate router link in component
  frontend/src/components/base/link.tsx
Due: frontend

encapsulate sidebar menu
  frontend/src/components/routers/sidebar/sidebar-menu.tsx
Due: frontend

hide form submit button when form is disabled
  frontend/src/components/forms/form.tsx
Due: frontend

remove horizontal and vertical spacer
  frontend/src/components/base/flex.tsx
  frontend/src/components/base/progress-step.tsx
  frontend/src/components/forms/choices-question-editor.tsx
  frontend/src/components/forms/number-question-editor.tsx
  frontend/src/components/forms/text-question-editor.tsx
  frontend/src/components/forms/unified-question-editor.tsx
  frontend/src/components/pages/admission.tsx
  frontend/src/components/pages/status.tsx
  frontend/src/components/settings/application-settings.tsx
  frontend/src/components/settings/email-template-editor.tsx
  frontend/src/components/settings/form-editor.tsx
  frontend/src/components/settings/frontend-settings.tsx
Due: frontend

add separate non-growing flex container
  frontend/src/components/base/collapsible.tsx
  frontend/src/components/base/flex.tsx
  frontend/src/components/base/spinner.tsx
  frontend/src/components/forms/form.tsx
  frontend/src/components/pages/admission.tsx
  frontend/src/components/pages/status.tsx
Due: frontend

allow checking in users
  backend/src/controllers/application-controller.ts
  backend/src/controllers/dto.ts
  backend/src/entities/user.ts
  backend/src/services/application-service.ts
  backend/test/services/mock/mock-application-service.ts
  frontend/src/api/index.ts
  frontend/src/components/pages/admission.tsx
  frontend/src/components/pages/statistics.tsx
  frontend/src/util.ts
  frontend/test/__mocks__/api.ts
Due: backend, frontend

add random string to login token
  backend/src/entities/user.ts
  backend/src/services/user-service.ts
  backend/test/services/user-service.spec.ts
Due: backend

log out users when token refresh fails
  frontend/src/contexts/login-context.tsx
Due: frontend

add token secret to application service test
  backend/test/services/application-service.spec.ts
Due: backend

only allow deleting non-elevated users
  backend/src/services/user-service.ts
Due: backend

check for missing team members before admitting
  frontend/src/components/pages/admission.tsx
  frontend/src/heuristics.ts
Due: frontend

extract copyable text to component
  frontend/src/components/base/copyable-text.tsx
  frontend/src/components/base/error-boundary.tsx
Due: frontend

collapse form editors
  frontend/src/components/base/collapsible.tsx
  frontend/src/components/pages/settings.tsx
  frontend/src/components/settings/application-settings.tsx
  frontend/src/components/settings/form-editor.tsx
Due: frontend

add spacer after collapsible content
  frontend/src/components/base/collapsible.tsx
Due: frontend

remove handlebars
  backend/src/services/email-template-service.ts
  frontend/src/components/settings/email-settings.tsx
  package.json
  yarn.lock
Due: backend, frontend

remove force-unwrap
  backend/src/services/application-service.ts
  backend/src/services/database-service.ts
  backend/src/services/email-service.ts
  backend/src/services/slack-service.ts
  backend/src/services/unix-signal-service.ts
  backend/src/services/user-service.ts
  backend/test/services/mock/mock-database-service.ts
Due: backend

use node:alpine and multistage Dockerfile
  Dockerfile
Due: none

add docker build status badge
  README.md
Due: none

use markdown prettier parser for readme
  .prettierrc.js
  README.md
Due: none

allow turning off haveibeenpwned service
  backend/src/services/config-service.ts
  backend/src/services/haveibeenpwned-service.ts
  backend/test/services/haveibeenpwned-service.spec.ts
Due: backend

add environment variables to readme
  README.md
Due: none

default to mail port 465
  README.md
  backend/src/services/config-service.ts
Due: backend

install gyp dependencies before build
  Dockerfile
Due: none

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
