Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        target: 80%
        flags: backend
      frontend:
        target: 80%
        flags: frontend

flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - frontend/

only optimise in production
  frontend/webpack.config.js
Due: frontend

introduce login context
  frontend/src/api/index.ts
  frontend/src/contexts/login-context.tsx
  frontend/src/hooks/use-api.ts
  frontend/src/hooks/use-context-or-throw.ts
  frontend/src/index.tsx
Due: frontend

use login context in sidebar
  frontend/src/components/page-wrapper.tsx
  frontend/src/components/sidebar.tsx
Due: frontend

use login context in login form and app
  frontend/src/components/app.tsx
  frontend/src/components/login-signup-form.tsx
  frontend/src/contexts/login-context.tsx
  frontend/src/hooks/use-api.ts
  frontend/src/index.tsx
  frontend/test/components/app.spec.tsx
Due: frontend

fix sidebar background image not shown
  frontend/src/components/sidebar.tsx
Due: frontend

add displayName to login context
  frontend/src/contexts/login-context.tsx
Due: frontend

introduce settings context
  frontend/src/contexts/settings-context.tsx
  frontend/src/hooks/use-api.ts
Due: frontend

use settings context
  frontend/src/components/app.tsx
  frontend/src/components/application-settings.tsx
  frontend/src/components/email-settings.tsx
  frontend/src/components/frontend-settings.tsx
  frontend/src/components/login-image.tsx
  frontend/src/components/login-signup-form.tsx
  frontend/src/components/settings.tsx
  frontend/src/components/sidebar-logo.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/components/spinner.tsx
  frontend/src/components/verify-email.tsx
  frontend/src/contexts/settings-context.tsx
  frontend/src/index.tsx
Due: frontend

add notification context
  frontend/src/components/notification.tsx
  frontend/src/components/page-wrapper.tsx
  frontend/src/contexts/notification-context.tsx
  frontend/src/contexts/settings-context.tsx
  frontend/src/index.tsx
Due: frontend

introduce ws context
  frontend/src/config.ts
  frontend/src/contexts/ws-context.tsx
  frontend/src/index.tsx
  frontend/src/ws/activity-handler.ts
  frontend/src/ws/index.ts
Due: frontend

use event listener api in for ws
  backend/src/services/http-service.ts
  backend/src/services/ws-service.ts
  backend/test/services/http-service.spec.ts
  backend/test/services/mock/mock-ws-service.ts
  backend/test/services/ws-service.spec.ts
Due: backend

use ws context for activities
  frontend/src/components/activity.tsx
  frontend/src/components/page-wrapper.tsx
  frontend/src/hooks/use-activity.ts
  frontend/src/util.ts
Due: frontend

use api hook to verify email
  frontend/src/components/app.tsx
  frontend/src/components/verify-email.tsx
Due: frontend

remove redux
  frontend/package.json
  frontend/src/actions/activity.ts
  frontend/src/actions/boot.ts
  frontend/src/actions/index.ts
  frontend/src/actions/login.ts
  frontend/src/actions/notify.ts
  frontend/src/actions/request.ts
  frontend/src/actions/role.ts
  frontend/src/actions/settings.ts
  frontend/src/actions/signup.ts
  frontend/src/actions/token.ts
  frontend/src/actions/verify.ts
  frontend/src/components/page-wrapper.tsx
  frontend/src/index.tsx
  frontend/src/reducers/activity.ts
  frontend/src/reducers/index.ts
  frontend/src/reducers/notify.ts
  frontend/src/reducers/request.ts
  frontend/src/reducers/role.ts
  frontend/src/reducers/settings.ts
  frontend/test/actions/activity.spec.ts
  frontend/test/actions/login.spec.ts
  frontend/test/actions/notify.spec.ts
  frontend/test/actions/settings.spec.ts
  frontend/test/actions/signup.spec.ts
  frontend/test/reducers/activity.spec.ts
  frontend/test/reducers/notify.spec.ts
  frontend/test/reducers/request.spec.ts
  frontend/test/reducers/role.spec.ts
  frontend/test/reducers/settings.spec.ts
  frontend/yarn.lock
Due: frontend

remove static non-hook api
  frontend/src/api/index.ts
Due: frontend

remove app snapshot
  frontend/test/components/__snapshots__/app.spec.tsx.snap
Due: frontend

lazily load settings component
  frontend/src/components/lazy-settings.tsx
  frontend/src/components/page-wrapper.tsx
Due: frontend

upgrade ts and prettier
  frontend/yarn.lock
Due: frontend

upgrade typeorm
  backend/yarn.lock
Due: backend

convert questions to single table inheritance
  backend/src/entities/application-settings.ts
  backend/src/entities/choices-question.ts
  backend/src/entities/country-question.ts
  backend/src/entities/email-settings.ts
  backend/src/entities/email-template.ts
  backend/src/entities/form-settings.ts
  backend/src/entities/frontend-settings.ts
  backend/src/entities/number-question.ts
  backend/src/entities/question-base.ts
  backend/src/entities/question.ts
  backend/src/entities/settings.ts
  backend/src/entities/text-question.ts
  backend/src/services/settings-service.ts
  backend/src/validation/update-settings.ts
  backend/test/services/settings-service.spec.ts
  types/questions.d.ts
Due: backend

simplify question schema
  backend/src/entities/choices-question.ts
  backend/src/entities/country-question.ts
  backend/src/entities/form-settings.ts
  backend/src/entities/number-question.ts
  backend/src/entities/question.ts
  backend/src/entities/text-question.ts
  frontend/src/components/choices-question.tsx
  frontend/src/components/country-question.tsx
  frontend/src/components/form-editor.tsx
  frontend/src/components/number-question.tsx
  frontend/src/components/profile-form.tsx
  frontend/src/components/question.tsx
  frontend/src/components/text-question.tsx
  types/questions.d.ts
Due: backend, frontend

update typescript and prettier in backend
  backend/yarn.lock
Due: backend

start answer service
  backend/src/entities/answer.ts
  backend/src/entities/application.ts
  backend/src/services/answer-service.ts
  backend/src/services/application-service.ts
  backend/src/services/question-service.ts
  backend/src/services/tilt-service.ts
  backend/test/services/mock/mock-answer-service.ts
  backend/test/services/mock/mock-question-graph-service.ts
  backend/test/services/tilt-service.spec.ts
Due: backend
