Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        target: 80%
        flags: backend
      frontend:
        target: 80%
        flags: frontend

flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - frontend/

wip
  backend/src/controllers/application-controller.ts
  backend/src/controllers/users-controller.ts
  backend/src/services/team-service.ts
  frontend/src/api/index.ts
  frontend/src/components/base/button.tsx
  frontend/src/components/pages/admission.tsx
  frontend/src/components/pages/edit-team.tsx
  frontend/src/components/pages/read-only-project.tsx
Due: backend, frontend

potentially working
  backend/src/controllers/dto.ts
  backend/src/entities/user.ts
  backend/src/services/team-service.ts
  backend/src/services/user-service.ts
  backend/test/services/mock/mock-teams-service.ts
  docs/docker-development.md
  frontend/src/api/index.ts
  frontend/src/components/pages/edit-team.tsx
  frontend/src/components/pages/read-only-project.tsx
  frontend/src/components/pages/read-only-team.tsx
  frontend/test/__mocks__/api.ts
Due: backend, frontend

wip team.owner
  backend/src/controllers/application-controller.ts
  backend/src/controllers/dto.ts
  backend/src/entities/team.ts
  backend/src/services/team-service.ts
  frontend/src/api/index.ts
  frontend/src/components/pages/edit-team.tsx
  frontend/src/components/pages/status.tsx
  frontend/src/components/pages/teams.tsx
Due: backend, frontend

various
  backend/src/entities/team.ts
  backend/src/services/team-service.ts
  frontend/src/api/index.ts
  frontend/src/components/base/button.tsx
  frontend/src/components/pages/edit-team.tsx
  frontend/src/components/routers/sidebar/sidebar.tsx
  frontend/test/__mocks__/api.ts
Due: backend, frontend

various
  frontend/src/components/base/stack-with-border.tsx
  frontend/src/components/pages/edit-team.tsx
  frontend/src/components/pages/rating-form.tsx
  frontend/src/components/pages/read-only-team.tsx
Due: frontend

Add types to StackWithBorder and TeamMember, fix all typecheck errors (#125)
  frontend/src/api/index.ts
  frontend/src/components/base/stack-with-border.tsx
  frontend/src/components/pages/edit-team.tsx
  frontend/src/components/pages/rating-form.tsx
Due: frontend

add setOwner to mock-teams-service
  backend/test/services/mock/mock-teams-service.ts
Due: backend

wip auth.spec.ts
  backend/test/controllers/auth.spec.ts
  backend/test/controllers/rating-controller.spec.ts
  backend/test/services/rating-service.spec.ts
  frontend/src/components/base/stack-with-border.tsx
Due: backend, frontend

wip auth.spec.ts
  backend/test/controllers/auth.spec.ts
Due: backend

wip auth.spec.ts
  backend/src/controllers/users-controller.ts
  backend/test/controllers/auth.spec.ts
Due: backend

wip auth.spec.ts
  backend/src/services/user-service.ts
  backend/test/controllers/auth.spec.ts
Due: backend

auth.spec.ts done
  backend/test/controllers/auth.spec.ts
Due: backend

lint, prettier
  backend/src/services/user-service.ts
  backend/test/controllers/auth.spec.ts
Due: backend

reload parent component instead of history go
  frontend/src/components/pages/edit-team.tsx
  frontend/src/components/pages/view-team.tsx
Due: frontend

copilot review
  backend/src/controllers/application-controller.ts
  backend/src/controllers/dto.ts
  backend/src/controllers/users-controller.ts
  backend/src/entities/project.ts
  backend/src/entities/user.ts
  backend/src/services/team-service.ts
  backend/src/utils/has-same-elements.ts
  frontend/src/api/index.ts
  frontend/src/components/pages/admission.tsx
  frontend/src/components/pages/edit-team.tsx
  frontend/src/components/pages/read-only-team.tsx
  frontend/src/heuristics.ts
Due: backend, frontend

copilot review
  backend/src/entities/project.ts
  backend/src/services/team-service.ts
  docs/docs.md
  frontend/src/components/base/button.tsx
  frontend/src/components/pages/edit-team.tsx
  frontend/src/components/pages/view-team.tsx
Due: backend, frontend

Add tests for `// TODO test` comments; remove resolved TODOs (#126)
  backend/src/controllers/application-controller.ts
  backend/src/services/rating-service.ts
  backend/src/services/team-service.ts
  backend/test/controllers/application-controller.spec.ts
  backend/test/services/rating-service.spec.ts
  backend/test/services/team-service.spec.ts
Due: backend

add test
  backend/test/controllers/application-controller.spec.ts
  backend/test/services/team-service.spec.ts
Due: backend

fix recursion depth error when creating team. Some css fixes
  backend/src/services/team-service.ts
  backend/test/controllers/application-controller.spec.ts
  frontend/src/components/base/page-header.tsx
  frontend/src/components/pages/edit-team.tsx
  frontend/src/components/pages/read-only-team.tsx
  frontend/src/components/routers/sidebar/sidebar-menu.tsx
  frontend/src/components/routers/sidebar/sidebar.tsx
Due: backend, frontend

small stuff
  frontend/src/components/base/page-header.tsx
  frontend/src/components/base/stack-with-border.tsx
  frontend/src/components/pages/edit-team.tsx
Due: frontend

unused import
  backend/test/controllers/application-controller.spec.ts
Due: backend

user.team set after team created, warning if not allowed to rate
  frontend/src/api/index.ts
  frontend/src/components/pages/createTeam.tsx
  frontend/src/components/pages/read-only-project.tsx
Due: frontend

prettier
  frontend/src/components/pages/read-only-project.tsx
Due: frontend

add onDelete to entities
  backend/src/entities/answer.ts
  backend/src/entities/rating.ts
  backend/src/entities/team.ts
Due: backend

keep rating if user is deleted
  backend/src/entities/rating.ts
Due: backend

Add onDelete to entities (#127)
  backend/src/entities/answer.ts
  backend/src/entities/rating.ts
  backend/src/entities/team.ts
Due: backend

no rating selected by default, cant abandon team by joining other team as owner
  backend/src/services/rating-service.ts
  backend/src/services/team-service.ts
  backend/test/services/team-service.spec.ts
  frontend/src/components/base/notification.tsx
  frontend/src/components/pages/rating-form.tsx
  frontend/src/components/pages/read-only-team.tsx
Due: backend, frontend

lint
  frontend/src/components/pages/rating-form.tsx
Due: frontend

No default rating selected. Select new owner before requesting (#128)
  backend/src/services/rating-service.ts
  backend/src/services/team-service.ts
  backend/test/services/team-service.spec.ts
  frontend/src/components/base/notification.tsx
  frontend/src/components/pages/rating-form.tsx
  frontend/src/components/pages/read-only-team.tsx
Due: backend, frontend

Creating a team clears your request
  backend/src/services/team-service.ts
  backend/test/services/team-service.spec.ts
Due: backend

Prevent perople from accepting requests that would abandon other teams
  backend/src/services/team-service.ts
  backend/test/services/team-service.spec.ts
Due: backend

Creating teams clears requests. Don't accept team-owners (#129)
  backend/src/services/team-service.ts
  backend/test/services/team-service.spec.ts
Due: backend

Display a button for admins to join teams too
  frontend/src/components/pages/edit-team.tsx
  frontend/src/components/pages/join-team-button.tsx
  frontend/src/components/pages/read-only-team.tsx
Due: frontend

Update discord url
  frontend/src/components/pages/status.tsx
Due: frontend

Fix team gets cleared when user is checked in
  backend/src/services/user-service.ts
  backend/test/services/application-service.spec.ts
  backend/test/services/application.integration.spec.ts
  backend/test/services/user-service.spec.ts
Due: backend

Add comment
  backend/test/services/application.integration.spec.ts
Due: backend

Add yarn to dockerfile explicitly
  Dockerfile
Due: none

Use partial updates
  backend/src/controllers/application-controller.ts
  backend/src/services/application-service.ts
  backend/src/services/user-service.ts
  backend/test/services/application-service.spec.ts
  backend/test/services/application-user-team-integration.spec.ts
Due: backend

Docstring
  backend/src/services/user-service.ts
Due: backend
