Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        target: 80%
        flags: backend
      frontend:
        target: 80%
        flags: frontend

flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - frontend/

use nullable settings in state
  frontend/src/components/app.tsx
  frontend/src/components/email-settings.tsx
  frontend/src/components/login-image.tsx
  frontend/src/components/sidebar-logo.tsx
  frontend/src/config.ts
  frontend/src/reducers/settings.ts
  frontend/src/state.ts
  frontend/test/components/app.spec.tsx
Due: frontend

add placeholder component
  frontend/src/components/placeholder.tsx
  frontend/src/config.ts
Due: frontend

display editor placeholders during boot
  frontend/src/components/email-settings.tsx
  frontend/src/components/email-template-editor.tsx
Due: frontend

set both html and text body in emails
  backend/src/services/email.ts
Due: backend

fix typo in api clients
  frontend/src/api/backend-api.ts
  frontend/src/api/index.ts
  frontend/src/api/static-api.ts
Due: frontend

add handlebars
  backend/package.json
  backend/yarn.lock
Due: backend

add service to send email templates
  backend/src/services/email-template.ts
  backend/src/services/tilt.ts
  backend/test/services/mock/email-template.ts
  backend/test/services/tilt.spec.ts
Due: backend

send verify email after signup
  backend/src/services/user.ts
  backend/test/services/activity.spec.ts
  backend/test/services/users.spec.ts
Due: backend

extract email templates to separate entity
  backend/src/entities/email-settings.ts
  backend/src/entities/email-templates.ts
  types/settings.d.ts
Due: backend

use new email templates entity
  backend/src/controllers/settings.ts
  backend/src/services/email-template.ts
  backend/src/services/settings.ts
  backend/src/validation/email-settings.ts
  backend/test/controllers/settings.spec.ts
  backend/test/services/mock/settings.ts
  backend/test/services/settings.spec.ts
  types/settings-email.d.ts
Due: backend

use email separate email templates settings
  frontend/src/actions/settings.ts
  frontend/src/api/backend-api.ts
  frontend/src/api/index.ts
  frontend/src/api/static-api.ts
  frontend/src/components/email-settings.tsx
  types/settings-email.d.ts
Due: frontend

allow email subject configuration
  backend/src/entities/email-template.ts
  backend/src/services/email-template.ts
  backend/src/services/settings.ts
  backend/src/validation/email-settings.ts
  backend/test/services/settings.spec.ts
  frontend/src/api/static-api.ts
  frontend/src/components/email-template-editor.tsx
  types/settings.d.ts
Due: backend, frontend

rename templates api interface
  backend/src/validation/email-settings.ts
  frontend/src/api/backend-api.ts
  frontend/src/api/index.ts
  types/settings-email.d.ts
Due: backend, frontend

rename update templates api method
  backend/src/controllers/settings.ts
  backend/test/controllers/settings.spec.ts
Due: backend

allow updating email settings
  backend/src/controllers/settings.ts
  backend/src/services/settings.ts
  backend/src/validation/email-settings.ts
  backend/test/services/mock/settings.ts
  backend/test/services/settings.spec.ts
  types/settings-email.d.ts
Due: backend

extract email template validation to new file
  backend/src/controllers/settings.ts
  backend/src/validation/email-settings.ts
  backend/src/validation/email-templates.ts
Due: backend

add stateful text inputs
  frontend/src/components/text-input.tsx
Due: frontend

add api methods to update email settings
  frontend/src/api/backend-api.ts
  frontend/src/api/index.ts
  frontend/src/api/static-api.ts
Due: frontend

add ui to change email settings
  frontend/src/actions/settings.ts
  frontend/src/components/email-settings.tsx
Due: frontend

use email sender setting
  backend/src/services/email-template.ts
Due: backend

use dedicated frontend tslint config
  frontend/tslint.json
Due: frontend

add z-index to notification
  frontend/src/components/notification.tsx
Due: frontend

display validation errors in email settings
  frontend/src/actions/settings.ts
  frontend/src/components/email-settings.tsx
  frontend/src/state.ts
Due: frontend

sort routes enum ascending
  frontend/src/routes.ts
Due: frontend

downgrade ts to 3.3.x to fix dev performance
  frontend/package.json
  frontend/yarn.lock
Due: frontend

extract field labels to wrapper component
  frontend/src/components/form-field.tsx
  frontend/src/components/text-input.tsx
Due: frontend

add textarea field
  frontend/src/components/textarea.tsx
Due: frontend

add select field
  frontend/src/components/select.tsx
Due: frontend

add react-markdown
  frontend/package.json
  frontend/yarn.lock
Due: frontend

allow hiding bottom field border
  frontend/src/components/form-field.tsx
Due: frontend

add unique id hook
  frontend/package.json
  frontend/src/hooks/use-uniqe-id.ts
  frontend/yarn.lock
Due: frontend

add checkbox and radio inputs
  frontend/src/components/checkbox.tsx
Due: frontend

allow titles to be react elements
  frontend/src/components/checkbox.tsx
  frontend/src/components/form-field.tsx
  frontend/src/components/select.tsx
  frontend/src/components/text-input.tsx
  frontend/src/components/textarea.tsx
Due: frontend

deduplicate textarea code by moving it to input
  frontend/src/components/login-signup-form.tsx
  frontend/src/components/text-input.tsx
  frontend/src/components/textarea.tsx
Due: frontend

reduce input height
  frontend/src/components/form-field.tsx
  frontend/src/components/select.tsx
  frontend/src/components/text-input.tsx
Due: frontend

add stateful focus hook
  frontend/src/components/text-input.tsx
  frontend/src/hooks/use-focus.ts
Due: frontend

use string titles again and add mandatory flag
  frontend/src/components/checkbox.tsx
  frontend/src/components/form-field.tsx
  frontend/src/components/select.tsx
  frontend/src/components/text-input.tsx
Due: frontend

handle numbers in text input
  frontend/src/components/text-input.tsx
  frontend/test/components/text-input.spec.tsx
Due: frontend

use gray colors in static api
  frontend/src/api/static-api.ts
Due: frontend

add countries-json
  frontend/package.json
  frontend/yarn.lock
Due: frontend
