Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

yarn upgrade
  yarn.lock
Due: none

lint
  backend/src/entities/longtext.ts
  backend/src/services/config-service.ts
  backend/src/services/criterion-service.ts
  backend/src/services/project-service.ts
  backend/src/services/rating-service.ts
  frontend/src/components/base/image.tsx
  frontend/src/components/pages/projects.tsx
  frontend/src/components/pages/rating-form.tsx
  frontend/src/components/pages/read-only-project.tsx
  frontend/src/components/pages/view-project.tsx
  frontend/src/components/pages/view-team.tsx
  frontend/src/components/settings/project-rating/rating-criteria-settings.tsx
Due: backend, frontend

prettier
  README.md
  backend/src/services/rating-service.ts
  quickstart.md
Due: backend

Adding types: jest fixes the minimatch error, I dont know, I hate tsconfig
  backend/tsconfig.json
  quickstart.md
Due: backend

Fix minimatch type error properly, upgrade webpack-dev stuff
  backend/tsconfig.json
  frontend/tsconfig.json
  frontend/webpack.config.js
  package.json
  yarn.lock
Due: backend, frontend

Fix rating selection and alignment
  frontend/src/components/pages/rating-form.tsx
  frontend/src/components/settings/project-rating/rating-criteria-settings.tsx
Due: frontend

Fix tooltip location
  frontend/src/components/pages/rating-form.tsx
Due: frontend

prettier
  frontend/src/components/pages/rating-form.tsx
Due: frontend

lint stuff
  frontend/src/components/pages/rating-form.tsx
Due: frontend

rating help text
  frontend/src/components/pages/read-only-project.tsx
Due: frontend

PRETTIER!
  frontend/src/components/pages/rating-form.tsx
  frontend/src/components/pages/read-only-project.tsx
Due: frontend

copilot review stuff
  backend/src/middlewares/logging-middleware.ts
  backend/tsconfig.json
  frontend/webpack.config.js
Due: backend, frontend

removed unused stuff
  backend/test/controllers/projects-controller.spec.ts
  backend/test/controllers/rating-controller.spec.ts
  backend/test/services/project-service.spec.ts
  backend/test/services/team-service.spec.ts
Due: backend

wip, one request, one team, via foreign keys
  README.md
  backend/src/controllers/application-controller.ts
  backend/src/controllers/dto.ts
  backend/src/entities/team.ts
  backend/src/entities/user.ts
  backend/src/services/application-service.ts
  backend/src/services/project-service.ts
  backend/src/services/rating-service.ts
  backend/src/services/team-service.ts
  backend/src/utils/has-same-elements.ts
  backend/test/services/project-service-get-all-projects.spec.ts
  backend/test/services/team-service.spec.ts
  docs/docker-development.md
  docs/docs.md
  frontend/src/components/pages/read-only-team.tsx
  frontend/src/components/pages/view-project.tsx
  frontend/src/components/pages/view-team.tsx
Due: backend, frontend

project image fix, notification when saving team or project, readme stuff, add screenshots
  README.md
  docs/screenshot-1.jpg
  docs/screenshot-2.jpg
  frontend/src/components/pages/read-only-project.tsx
  frontend/src/components/pages/view-project.tsx
  frontend/src/components/pages/view-team.tsx
Due: frontend

readme
  README.md
Due: none

change screenshot-1.jpg
  docs/screenshot-1.jpg
Due: none

fix docs link
  README.md
Due: none

Application dates configurable
  backend/src/controllers/dto.ts
  backend/src/entities/application-settings.ts
  backend/src/entities/settings.ts
  backend/src/services/project-service.ts
  backend/src/services/rating-service.ts
  backend/src/services/settings-service.ts
  frontend/src/components/pages/settings.tsx
  frontend/src/components/pages/status.tsx
  frontend/src/components/settings/project-rating/rating-criteria-settings.tsx
Due: backend, frontend

Potential fix for pull request finding
  frontend/src/components/pages/status.tsx
Due: frontend

Potential fix for pull request finding
  frontend/src/components/settings/project-rating/rating-criteria-settings.tsx
Due: frontend

wip
  backend/src/controllers/dto.ts
  backend/src/entities/application-settings.ts
  backend/src/entities/settings.ts
  backend/src/services/settings-service.ts
  frontend/src/components/pages/status.tsx
  frontend/src/components/settings/project-rating/rating-criteria-settings.tsx
Due: backend, frontend

wip
  backend/src/controllers/dto.ts
  backend/src/entities/application-settings.ts
  backend/src/services/settings-service.ts
  frontend/src/components/pages/status.tsx
  frontend/src/util.ts
Due: backend, frontend

done
  frontend/src/api/index.ts
  frontend/src/components/settings/application/application-settings.tsx
Due: frontend

lint stuff
  backend/src/services/rating-service.ts
  frontend/src/components/pages/status.tsx
  frontend/src/components/settings/application/application-settings.tsx
  frontend/src/util.ts
Due: backend, frontend

Clarifying comment for ApplicationSettings
  backend/src/entities/application-settings.ts
Due: backend

Fix tests
  backend/test/services/mock/mock-settings-service.ts
  backend/test/services/project-service-get-all-projects.spec.ts
  backend/test/services/rating-service.spec.ts
Due: backend

stuff
  backend/src/entities/application-settings.ts
  backend/src/services/settings-service.ts
  frontend/src/components/settings/project-rating/rating-criteria-settings.tsx
  frontend/src/util.ts
Due: backend, frontend

fix default value for dates
  backend/src/entities/application-settings.ts
Due: backend

review
  frontend/src/components/pages/settings.tsx
  frontend/src/components/settings/project-rating/rating-criteria-settings.tsx
Due: frontend

Application dates configurable (#124)
  backend/src/controllers/dto.ts
  backend/src/entities/application-settings.ts
  backend/src/entities/settings.ts
  backend/src/services/project-service.ts
  backend/src/services/rating-service.ts
  backend/src/services/settings-service.ts
  backend/test/services/mock/mock-settings-service.ts
  backend/test/services/project-service-get-all-projects.spec.ts
  backend/test/services/rating-service.spec.ts
  frontend/src/api/index.ts
  frontend/src/components/pages/status.tsx
  frontend/src/components/settings/application/application-settings.tsx
  frontend/src/components/settings/project-rating/rating-criteria-settings.tsx
Due: backend, frontend

backend tests passing
  backend/src/entities/team.ts
  backend/src/services/project-service.ts
  backend/src/services/rating-service.ts
  backend/src/services/team-service.ts
  backend/test/services/project-service-get-all-projects.spec.ts
  backend/test/services/project-service.spec.ts
  backend/test/services/rating-service.spec.ts
  backend/test/services/team-service.spec.ts
Due: backend

lint and typecheck
  backend/src/services/project-service.ts
  backend/src/services/rating-service.ts
  backend/test/services/team-service.spec.ts
  frontend/src/components/pages/edit-team.tsx
  frontend/src/components/pages/view-project.tsx
  frontend/src/components/pages/view-team.tsx
Due: backend, frontend

Some work on the frontend
  backend/src/controllers/dto.ts
  backend/src/services/team-service.ts
  frontend/src/components/pages/createTeam.tsx
  frontend/src/components/pages/read-only-team.tsx
Due: backend, frontend

typecheck
  backend/src/controllers/dto.ts
  frontend/src/api/index.ts
  frontend/src/components/pages/createTeam.tsx
  frontend/src/components/pages/read-only-team.tsx
Due: backend, frontend

eager load user.team
  backend/src/controllers/dto.ts
  backend/src/entities/user.ts
  frontend/src/components/pages/edit-team.tsx
Due: backend, frontend

lasjdflksajd
  backend/src/controllers/dto.ts
  backend/src/controllers/users-controller.ts
  backend/src/services/user-service.ts
  frontend/src/components/pages/view-project.tsx
Due: backend, frontend

fix user.team missing in token response
  backend/src/controllers/dto.ts
  frontend/src/components/pages/view-project.tsx
Due: backend, frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
