Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

add email for submission
  .DS_Store
  backend/src/controllers/dto.ts
  backend/src/entities/settings.ts
  backend/src/services/application-service.ts
  backend/src/services/email-template-service.ts
  frontend/.DS_Store
  frontend/src/components/settings/email-settings.tsx
Due: backend, frontend

missing email service setting
  backend/src/services/settings-service.ts
Due: backend

add status fix
  frontend/src/components/pages/status.tsx
Due: frontend

fix linting
  backend/src/services/application-service.ts
Due: backend

add table rows
  frontend/src/components/pages/admission.tsx
Due: frontend

add help button
  frontend/src/components/routers/sidebar/sidebar.tsx
Due: frontend

add utc timestamp
  frontend/src/components/pages/admission.tsx
Due: frontend

add help button 2
  frontend/src/components/routers/unauthenticated-router.tsx
Due: frontend

small table fixes
  frontend/src/components/pages/admission.tsx
Due: frontend

table getting better and better
  frontend/src/components/pages/admission.tsx
Due: frontend

remove warnings
  frontend/src/components/pages/admission.tsx
Due: frontend

remove console.log
  frontend/src/components/pages/admission.tsx
Due: frontend

fix linitng
  frontend/src/components/pages/admission.tsx
Due: frontend

add user limitation
  backend/src/services/team-service.ts
Due: backend

added grid to user details
  frontend/src/components/pages/admission.tsx
  frontend/src/components/pages/editTeam.tsx
Due: frontend

Remove unused import
  frontend/src/components/pages/admission.tsx
Due: frontend

add teams count
  backend/src/controllers/dto.ts
  backend/src/services/application-service.ts
  frontend/src/components/pages/admission.tsx
Due: backend, frontend

fix: team names
  frontend/src/components/pages/admission.tsx
Due: frontend

add lineheight
  frontend/src/components/pages/admission.tsx
Due: frontend

prettier
  frontend/src/components/pages/admission.tsx
Due: frontend

fix date
  frontend/src/components/pages/status.tsx
Due: frontend

update stats
  frontend/src/components/pages/statistics.tsx
  frontend/src/components/pages/status.tsx
Due: frontend

update stats lint
  frontend/src/components/pages/statistics.tsx
Due: frontend

lint
  frontend/src/components/pages/statistics.tsx
Due: frontend

discord link
  frontend/src/components/pages/status.tsx
Due: frontend

fix: export user table
  .DS_Store
  frontend/src/components/pages/admission.tsx
Due: frontend

fix styling
  frontend/src/components/pages/status.tsx
Due: frontend

wip frontend tests not working
  .gitignore
  README.md
  backend/.env.example
  backend/src/middlewares/error-handler-middleware.ts
  backend/src/services/application-service.ts
  backend/src/services/database-service.ts
  backend/src/services/email-template-service.ts
  backend/src/services/http-service.ts
  backend/src/services/logger-service.ts
  backend/src/services/settings-service.ts
  backend/src/services/user-service.ts
  backend/src/usermod.ts
  backend/test/controllers/users-controller.spec.ts
  backend/test/middlewares/error-handler-middleware.spec.ts
  backend/test/services/http-service.spec.ts
  backend/test/services/mock/mock-database-service.ts
  backend/test/services/user-service.spec.ts
  docker-compose.yml
  package.json
  yarn.lock
Due: backend

wip
  frontend/jest.config.js
  package-lock.json
  yarn.lock
Due: frontend

wip
  package.json
  yarn.lock
Due: none

Logging before stuff happens for improved debugging, newer compilation output
  README.md
  backend/.env.example
  backend/src/controllers/dto.ts
  backend/src/controllers/users-controller.ts
  backend/src/entities/settings.ts
  backend/src/services/boot-shutdown-notification-service.ts
  backend/src/services/email-service.ts
  backend/src/services/http-service.ts
  backend/src/services/settings-service.ts
  backend/src/services/user-service.ts
  backend/tsconfig.json
  docker-compose.yml
  frontend/src/util.ts
  package.json
  yarn.lock
Due: backend, frontend

prettier
  backend/src/controllers/users-controller.ts
  backend/src/middlewares/error-handler-middleware.ts
  backend/src/services/database-service.ts
  backend/src/services/email-template-service.ts
  backend/src/services/logger-service.ts
  backend/src/services/user-service.ts
  backend/test/services/mock/mock-database-service.ts
Due: backend

prettier frontend
  frontend/jest.config.js
  frontend/src/util.ts
Due: frontend

attempt to use newer codecov binary
  .github/workflows/main.yml
  package.json
  yarn.lock
Due: none

attempt to use newer codecov binary
  package.json
Due: none

attempt to use newer codecov binary
  .github/workflows/main.yml
Due: none

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
