Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

use sh for docker entrypoint
  Dockerfile
Due: none

add docker image size badge
  README.md
Due: none

add script to identify unused exports
  frontend/src/components/pages/lazy-settings.tsx
  package.json
  unused-exports.ts
Due: frontend

remove unused exports
  backend/src/entities/user.ts
  backend/src/utils/json.ts
  backend/src/validation/polymorphism.ts
  backend/test/validation/polymorphism.spec.ts
  frontend/src/api/index.ts
  frontend/src/components/base/copyable-text.tsx
  frontend/src/components/base/error-boundary.tsx
  frontend/src/components/pages/admission.tsx
  frontend/src/config.ts
  frontend/src/contexts/login-context.tsx
  frontend/src/contexts/notification-context.tsx
  frontend/src/contexts/settings-context.tsx
  frontend/src/hooks/use-api.ts
  frontend/src/hooks/use-context-or-throw.ts
  frontend/src/state.ts
  frontend/src/util.ts
Due: backend, frontend

use nullable where possible
  frontend/src/components/forms/form.tsx
  frontend/src/components/forms/unified-question-editor.tsx
  frontend/src/hooks/use-uniqe-id.ts
Due: frontend

upgrade dependencies
  yarn.lock
Due: none

remove styled-components plugin
  package.json
  yarn.lock
Due: none

upgrade dependencies to latest
  backend/test/middlewares/error-handler-middleware.spec.ts
  package.json
  yarn.lock
Due: backend

manually concatenate initial verification url
  backend/src/services/settings-service.ts
Due: backend

remove hidden overflow from row column
  frontend/src/components/base/flex.tsx
Due: frontend

expect route for internal link
  frontend/src/components/base/link.tsx
Due: frontend

add empty system page
  frontend/src/components/pages/lazy-system.tsx
  frontend/src/components/pages/system.tsx
  frontend/src/components/routers/authenticated-router.tsx
  frontend/src/components/routers/sidebar/sidebar.tsx
  frontend/src/routes.ts
Due: frontend

add pruning service
  backend/src/services/prune-service.ts
  backend/src/services/tilt-service.ts
  backend/test/services/mock/mock-prune-service.ts
  backend/test/services/tilt-service.spec.ts
Due: backend

add system page
  backend/src/controllers/system-controller.ts
  frontend/src/api/index.ts
  frontend/src/api/types/controllers.ts
  frontend/src/components/pages/system.tsx
  frontend/test/__mocks__/api.ts
Due: backend, frontend

enforce ordered imports through tslint
  frontend/src/components/routers/authenticated-router.tsx
  tslint.json
Due: frontend

replace base url disregarding in-tag whitespace
  entrypoint.sh
Due: none

fix layout on authenticated routes
  frontend/src/components/forms/form.tsx
  frontend/src/components/pages/page.tsx
  frontend/src/components/pages/statistics.tsx
  frontend/src/components/routers/authenticated-router.tsx
Due: frontend

add react fast refresh
  frontend/webpack.config.js
  package.json
  yarn.lock
Due: frontend

allow http caching of js files
  backend/src/services/http-service.ts
Due: backend

fix broken http static file test
  backend/test/services/http-service.spec.ts
Due: backend

improve password manager suggestion
  frontend/src/components/base/text-input.tsx
  frontend/src/components/pages/login-signup-form.tsx
Due: frontend

improve route redirection
  frontend/src/components/app.tsx
  frontend/src/components/pages/login-signup-form.tsx
  frontend/src/components/pages/signup-done.tsx
  frontend/src/components/routers/unauthenticated-router.tsx
  frontend/src/routes.ts
Due: frontend

add bash sh to readme
  README.md
Due: none

Fix dependencies
  package.json
  yarn.lock
Due: none

Fix formatting
  backend/src/controllers/dto.ts
  backend/src/services/application-service.ts
  backend/src/services/boot-shutdown-notification-service.ts
  backend/src/services/settings-service.ts
  backend/src/services/slack-service.ts
  backend/test/middlewares/error-handler-middleware.spec.ts
  backend/test/middlewares/mock/express.ts
  backend/test/services/application-service.spec.ts
  frontend/src/api/index.ts
  frontend/src/components/forms/form.tsx
  frontend/src/components/pages/admission.tsx
  frontend/src/components/pages/statistics.tsx
  frontend/src/components/pages/status.tsx
  frontend/src/components/settings/application-settings.tsx
  frontend/src/contexts/settings-context.tsx
  frontend/src/hooks/use-api.ts
Due: backend, frontend

add "any"
  backend/src/controllers/dto.ts
Due: backend

fix dto.ts
  backend/src/controllers/dto.ts
  package.json
  yarn.lock
Due: backend

Fix Markdown
  frontend/src/components/base/markdown.tsx
Due: frontend

Fix text type
  frontend/src/components/base/headings.tsx
Due: frontend

fix text type
  frontend/src/components/base/headings.tsx
Due: frontend

hotfix frontend testing
  frontend/test/components/__snapshots__/message.spec.tsx.snap
  frontend/test/setup.ts
  package.json
  yarn.lock
Due: frontend

lint fix
  frontend/test/setup.ts
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
