Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix Markdown
  frontend/src/components/base/markdown.tsx
Due: frontend

Replace duplicate of DATBASE_HOSE env var by missing DATABASE_USERNAME in .env.example
  backend/.env.example
Due: backend

Replace duplicate of DATBASE_HOST env var by missing DATABASE_USERNAME in .env.example
  backend/.env.example
Due: backend

Update circleci config
  .circleci/config.yml
Due: none

Update Dockerfile
  Dockerfile
Due: none

Add requirements to build job
  .circleci/config.yml
Due: none

Update config.yml
  .circleci/config.yml
Due: none

Update circleci
  .circleci/config.yml
Due: none

Update README.md
  README.md
Due: none

:sparkles: Increase char limit for email templates
  backend/src/controllers/dto.ts
  backend/src/entities/settings.ts
  frontend/src/components/base/text-input.tsx
  frontend/src/components/settings/email-template-editor.tsx
Due: backend, frontend

Deactivate autosave for settings and introduce save button
  frontend/src/components/pages/settings.tsx
  frontend/src/components/settings/application-settings.tsx
  frontend/src/components/settings/email-settings.tsx
  frontend/src/components/settings/frontend-settings.tsx
  frontend/src/components/settings/save-button.tsx
  frontend/src/contexts/settings-context.tsx
Due: frontend

Replace CircleCI with GH Actions
  .github/workflows/main.yml
Due: none

Remove CircleCI
  .circleci/config.yml
Due: none

Update README.md
  .github/workflows/main.yml
  README.md
Due: none

Add the option to sort questions on the settings page
  backend/src/controllers/dto.ts
  backend/src/entities/question.ts
  backend/src/services/settings-service.ts
  backend/test/services/settings-service.spec.ts
  frontend/src/components/forms/sorting-buttons.tsx
  frontend/src/components/settings/form-editor.tsx
  frontend/src/components/settings/question-editor.tsx
  frontend/src/util.ts
Due: backend, frontend

Update main.yml
  .github/workflows/main.yml
Due: none

Update codecov
  package.json
  yarn.lock
Due: none

yarn upgrade
  backend/src/controllers/application-controller.ts
  backend/src/controllers/users-controller.ts
  backend/src/services/settings-service.ts
  backend/src/services/tilt-service.ts
  backend/tsconfig.prod.json
  package.json
  yarn.lock
Due: backend

Fix
  backend/src/controllers/application-controller.ts
  backend/src/controllers/users-controller.ts
  backend/src/services/settings-service.ts
  backend/src/services/tilt-service.ts
  frontend/src/components/forms/number-question-editor.tsx
  frontend/src/components/forms/stringified-unified-question.tsx
  frontend/src/components/forms/text-question-editor.tsx
  frontend/src/components/forms/unified-question-editor.tsx
  frontend/src/components/settings/application-settings.tsx
  frontend/src/components/settings/email-settings.tsx
  frontend/src/components/settings/email-template-editor.tsx
  frontend/src/components/settings/form-editor.tsx
  frontend/src/components/settings/frontend-settings.tsx
  frontend/src/hooks/use-api.ts
  frontend/src/util.ts
  package.json
  yarn.lock
Due: backend, frontend

Update documentation for lint
  frontend/src/util.ts
Due: frontend

Resolve merging issue that was not saved
  frontend/src/util.ts
Due: frontend

Fix missing '}' after merge conflict
  frontend/src/util.ts
Due: frontend

Run prettier to avoid problems in the pipeline
  frontend/src/util.ts
Due: frontend

Add btns in status form
  frontend/src/components/pages/status.tsx
  frontend/src/util.ts
Due: frontend

Disable ordered-imports
  frontend/src/components/pages/status.tsx
  frontend/tsconfig.json
  tslint.json
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
