Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

add admitted flag to application
  backend/src/entities/application.ts
  backend/src/services/application-service.ts
Due: backend

allow receiving all applications as moderator
  backend/src/controllers/application-controller.ts
  backend/src/controllers/dto.ts
  backend/src/services/application-service.ts
  backend/test/services/mock/mock-application-service.ts
Due: backend

add api client method to receive applications
  frontend/src/api/index.ts
  frontend/test/__mocks__/api.ts
Due: frontend

add admission center base component
  frontend/src/components/admission-center.tsx
  frontend/src/components/lazy-admission-center.tsx
  frontend/src/components/page-wrapper.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/routes.ts
Due: frontend

use esnext to enable code splitting
  frontend/tsconfig.json
Due: frontend

switch to default import for country-json
  frontend/src/components/questions/country-question.tsx
  frontend/tsconfig.json
Due: frontend

add react-flexview
  package.json
  yarn.lock
Due: none

enable react strict mode
  frontend/src/index.tsx
Due: frontend

rename master to main
  README.md
Due: none

add animated spinner
  frontend/src/components/base/spinner.tsx
  frontend/src/components/base/suspense-fallback.tsx
  frontend/src/components/pages/lazy-admission-center.tsx
  frontend/src/components/pages/lazy-settings.tsx
  frontend/src/components/routers/lazy-authenticated-router.tsx
Due: frontend

show loading fallback when fetching settings
  frontend/src/contexts/settings-context.tsx
Due: frontend

use flex centering over text-align
  frontend/src/components/pages/page-not-found.tsx
Due: frontend

always use fluid buttons
  frontend/src/components/base/button.tsx
  frontend/src/components/forms/form.tsx
  frontend/src/components/pages/login-signup-form.tsx
Due: frontend

add spinner to button
  frontend/src/components/base/button.tsx
Due: frontend

fix unknown html prop on notification
  frontend/src/components/base/notification.tsx
Due: frontend

fix answer dto transformer error
  backend/src/controllers/dto.ts
Due: backend

re-add shrink to form submit container
  frontend/src/components/forms/form.tsx
Due: frontend

add muted text component
  frontend/src/components/base/muted.tsx
  frontend/src/components/settings/form-editor.tsx
Due: frontend

include question title in application errors
  backend/src/services/application-service.ts
Due: backend

wrap message in flex
  frontend/src/components/base/message.tsx
Due: frontend

display save message in form
  frontend/src/components/forms/form.tsx
Due: frontend

update message snapshots
  frontend/test/components/__snapshots__/message.spec.tsx.snap
Due: frontend

fix markdown div in p html error
  frontend/src/components/base/markdown.tsx
Due: frontend

differentiate between internal and external links
  frontend/src/components/base/link.tsx
  frontend/src/components/pages/verify-email.tsx
Due: frontend

fix wrong api url
  frontend/src/api/index.ts
Due: frontend

prevent form field from shrinking
  frontend/src/components/base/form-field.tsx
Due: frontend

revive dates from api responses
  frontend/src/api/index.ts
Due: frontend

hide overflow of elevated containers
  frontend/src/components/base/elevated.tsx
Due: frontend

add basic admission table
  frontend/src/components/pages/admission-center.tsx
  frontend/src/heuristics.ts
Due: frontend

rename admission center to admission
  frontend/src/components/pages/admission.tsx
  frontend/src/components/pages/lazy-admission.tsx
  frontend/src/components/routers/authenticated-router.tsx
  frontend/src/components/routers/sidebar/sidebar.tsx
  frontend/src/routes.ts
Due: frontend

add read only flag to row checkbox
  frontend/src/components/pages/admission.tsx
Due: frontend

simplify visible applications calculation
  frontend/src/components/pages/admission.tsx
Due: frontend

add chevron
  frontend/src/components/base/chevron.tsx
  frontend/src/components/pages/admission.tsx
Due: frontend

drop application entity and move fields to user
  backend/src/controllers/dto.ts
  backend/src/entities/answer.ts
  backend/src/entities/application.ts
  backend/src/entities/user.ts
  backend/src/services/application-service.ts
  backend/src/services/user-service.ts
  backend/test/services/application-service.spec.ts
  backend/test/services/mock/mock-user-service.ts
  frontend/src/api/index.ts
  frontend/src/components/pages/admission.tsx
Due: backend, frontend

allow deleting users
  backend/src/controllers/users-controller.ts
  backend/src/services/application-service.ts
  backend/src/services/user-service.ts
  backend/test/controllers/users-controller.spec.ts
  backend/test/services/mock/mock-application-service.ts
  backend/test/services/mock/mock-user-service.ts
  frontend/src/api/index.ts
  frontend/src/components/pages/admission.tsx
  frontend/src/hooks/use-api.ts
Due: backend, frontend

add missing api method to mock
  frontend/test/__mocks__/api.ts
Due: frontend

add wrapper component for field and button layouts
  frontend/src/components/base/form-field-button.tsx
  frontend/src/components/settings/form-editor.tsx
Due: frontend

replace jsonwebtoken with jwt-decode in ui
  frontend/src/authentication.ts
  package.json
  yarn.lock
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
