Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        target: 80%
        flags: backend
      frontend:
        target: 80%
        flags: frontend

flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - frontend/

move validation decorators to entities
  backend/src/entities/application-settings.ts
  backend/src/entities/choices-question.ts
  backend/src/entities/country-question.ts
  backend/src/entities/email-settings.ts
  backend/src/entities/email-template.ts
  backend/src/entities/form-settings.ts
  backend/src/entities/frontend-settings.ts
  backend/src/entities/number-question.ts
  backend/src/entities/question-base.ts
  backend/src/entities/settings.ts
  backend/src/entities/text-question.ts
  backend/src/validation/update-settings.ts
Due: backend

initialize settings entities explicitely
  backend/src/entities/application-settings.ts
  backend/src/entities/choices-question.ts
  backend/src/entities/email-settings.ts
  backend/src/entities/email-template.ts
  backend/src/entities/form-settings.ts
  backend/src/entities/frontend-settings.ts
  backend/src/entities/number-question.ts
  backend/src/entities/question-base.ts
  backend/src/entities/settings.ts
  backend/src/entities/text-question.ts
  backend/src/services/settings.ts
Due: backend

use interfaces in email settings
  backend/src/entities/email-settings.ts
Due: backend

use plain question type over sortable one
  backend/src/entities/form-settings.ts
Due: backend

add default reference name to questions
  backend/src/entities/question-base.ts
Due: backend

allow settings rollbacks with new update process
  backend/src/entities/application-settings.ts
  backend/src/entities/settings.ts
  backend/src/services/settings.ts
  types/settings.d.ts
Due: backend

use many to one for email templates
  backend/src/entities/email-settings.ts
Due: backend

use node 11 for backend ci
  .circleci/config.yml
Due: none

move user validation to entity
  backend/src/entities/user.ts
  backend/src/validation/user-login.ts
  backend/src/validation/user-signup.ts
Due: backend

use simple-json column type to store activity data
  backend/src/entities/activity.ts
  backend/src/services/activity.ts
Due: backend

change activity service to use event objects
  backend/src/services/activity.ts
  backend/src/services/user.ts
  backend/test/services/activity.spec.ts
  types/activity.d.ts
Due: backend

move activity logging to controller level
  backend/src/controllers/users.ts
  backend/src/services/user.ts
  backend/test/controllers/users.spec.ts
  backend/test/services/activity.spec.ts
  backend/test/services/users.spec.ts
Due: backend

add settings changes to activity log
  backend/src/controllers/settings.ts
  backend/src/services/settings.ts
  backend/test/controllers/settings.spec.ts
  types/activity.d.ts
Due: backend

add activity api methods
  frontend/src/api/backend-api.ts
  frontend/src/api/index.ts
  frontend/src/api/static-api.ts
  frontend/test/__mocks__/api.ts
Due: frontend

add activity controller
  backend/src/controllers/activity.ts
Due: backend

add activity reducers and actions
  frontend/src/actions/activity.ts
  frontend/src/reducers/activity.ts
  frontend/src/reducers/index.ts
  frontend/src/state.ts
  frontend/test/actions/activity.spec.ts
  frontend/test/reducers/activity.spec.ts
Due: frontend

add flag to convert text answers to links
  backend/src/entities/text-question.ts
  frontend/src/components/form-editor.tsx
  frontend/src/components/question.tsx
  frontend/src/components/text-question.tsx
  types/questions.d.ts
Due: backend, frontend

sort imports in backend api
  frontend/src/api/backend-api.ts
Due: frontend

rename activity event to type
  backend/src/controllers/settings.ts
  backend/src/controllers/users.ts
  backend/src/entities/activity.ts
  backend/src/services/activity.ts
  backend/test/controllers/settings.spec.ts
  backend/test/controllers/users.spec.ts
  backend/test/services/activity.spec.ts
  frontend/test/actions/activity.spec.ts
  frontend/test/reducers/activity.spec.ts
  types/activity.d.ts
Due: backend, frontend

exclude fields from user entity
  backend/src/entities/user.ts
Due: backend

add user interface
  backend/src/entities/activity.ts
  backend/src/entities/user.ts
  types/user.d.ts
Due: backend

include user in activity
  backend/src/controllers/settings.ts
  backend/src/controllers/users.ts
  backend/src/services/activity.ts
  backend/test/controllers/settings.spec.ts
  backend/test/controllers/users.spec.ts
  backend/test/services/activity.spec.ts
  frontend/test/reducers/activity.spec.ts
  types/activity.d.ts
Due: backend, frontend

reorder imports in test
  backend/test/services/tilt.spec.ts
Due: backend

use activity interface in controller
  backend/src/controllers/activity.ts
Due: backend

rename settings activity type
  types/activity.d.ts
Due: none

use separate data interface for activities
  backend/src/controllers/settings.ts
  backend/src/controllers/users.ts
  backend/src/services/activity.ts
  backend/test/controllers/settings.spec.ts
  backend/test/controllers/users.spec.ts
  backend/test/services/activity.spec.ts
  frontend/test/reducers/activity.spec.ts
  types/activity.d.ts
Due: backend, frontend

exclude id from entities when transforming to json
  backend/src/entities/activity.ts
  backend/src/entities/application-settings.ts
  backend/src/entities/email-settings.ts
  backend/src/entities/email-template.ts
  backend/src/entities/form-settings.ts
  backend/src/entities/frontend-settings.ts
  backend/src/entities/settings.ts
  backend/src/entities/user.ts
Due: backend

store changed settings as prettified json
  backend/src/controllers/settings.ts
  backend/src/utils/json.ts
  backend/test/controllers/settings.spec.ts
  types/activity.d.ts
Due: backend

fix failing test due to interface change
  frontend/test/actions/activity.spec.ts
Due: frontend

add json to monaco languages
  frontend/webpack.config.js
Due: frontend

add diff editor
  frontend/src/components/diff-editor.tsx
Due: frontend

add activity dashboard
  frontend/src/components/activity-event.tsx
  frontend/src/components/activity.tsx
  frontend/src/components/dashboard.tsx
  frontend/src/util.ts
Due: frontend

add key to activity events
  frontend/src/components/activity.tsx
Due: frontend

add express-ws
  backend/package.json
  backend/yarn.lock
Due: backend

add websocket service
  backend/src/services/tilt.ts
  backend/src/services/ws.ts
  backend/test/services/mock/ws.ts
  backend/test/services/tilt.spec.ts
  backend/test/services/ws.spec.ts
  types/ws.d.ts
Due: backend

add authenticated ws server to http service
  backend/src/services/http.ts
  backend/test/services/http.spec.ts
  backend/test/services/mock/http.ts
  backend/test/services/mock/ws.ts
Due: backend

broadcast settings changes to moderators
  backend/src/controllers/settings.ts
  backend/src/services/activity.ts
Due: backend

actually hide activity body when not shown
  frontend/src/components/activity-event.tsx
Due: frontend

add ws client
  frontend/src/ws/activity-handler.ts
  frontend/src/ws/index.ts
Due: frontend

connect ws client to redux store
  frontend/src/index.tsx
Due: frontend
