Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix tests
  backend/src/services/tilt-service.ts
  backend/test/services/mock/mock-criteria-service.ts
  backend/test/services/tilt-service.spec.ts
  quickstart.md
  yarn.lock
Due: backend

pipeline minimatch fix. starting work on project-rating settings
  frontend/src/components/pages/settings.tsx
  frontend/src/components/settings/project-rating/criteria-settings.tsx
  frontend/src/components/settings/project-rating/project-rating-settings.tsx
  frontend/tsconfig.json
Due: frontend

Criteria can be added and edited
  frontend/src/components/base/text-input.tsx
  frontend/src/components/settings/mail-settings/email-template-editor.tsx
  frontend/src/components/settings/project-rating/project-rating-settings.tsx
Due: frontend

Hopefully correct singular and plural usage, rewrote getRatingResults
  backend/src/controllers/criteria-controller.ts
  backend/src/controllers/criterion-controller.ts
  backend/src/controllers/dto.ts
  backend/src/controllers/projects-controller.ts
  backend/src/entities/criterion.ts
  backend/src/entities/rating.ts
  backend/src/services/criteria-service.ts
  backend/src/services/criterion-service.ts
  backend/src/services/rating-service.ts
  backend/src/services/tilt-service.ts
  backend/test/services/mock/mock-criteria-service.ts
  backend/test/services/mock/mock-criterion-service.ts
  backend/test/services/rating-service.spec.ts
  backend/test/services/tilt-service.spec.ts
  frontend/src/api/index.ts
  frontend/src/api/types/controllers.ts
  frontend/src/components/settings/project-rating/project-rating-settings.tsx
  frontend/test/__mocks__/api.ts
Due: backend, frontend

Fix test
  backend/src/services/rating-service.ts
  backend/test/services/rating-service.spec.ts
Due: backend

Complicated project-rating-settings
  frontend/src/components/settings/project-rating/project-rating-settings.tsx
Due: frontend

title and desc edits require save, add and delete not, dumb
  frontend/src/components/settings/project-rating/project-rating-settings.tsx
Due: frontend

Allow rating projects switch functional
  backend/src/controllers/dto.ts
  backend/src/entities/application-settings.ts
  backend/src/entities/settings.ts
  backend/src/services/rating-service.ts
  backend/test/services/rating-service.spec.ts
  frontend/src/components/settings/project-rating/project-rating-settings.tsx
Due: backend, frontend

Response. Teams is not beta anymore
  frontend/src/components/routers/sidebar/sidebar.tsx
  frontend/src/components/settings/project-rating/project-rating-settings.tsx
Due: frontend

Start work on projects page
  frontend/src/components/pages/projects.tsx
  frontend/src/components/routers/authenticated-router.tsx
  frontend/src/components/routers/sidebar/sidebar.tsx
  frontend/src/routes.ts
Due: frontend

Fix project entity JoinColumn
  backend/src/entities/project.ts
  frontend/src/api/index.ts
  frontend/src/components/pages/projects.tsx
  frontend/src/components/pages/settings.tsx
  frontend/src/components/settings/project-rating/rating-criteria-settings.tsx
  frontend/src/routes.ts
Due: backend, frontend

getAllProjects only sends projects that are owned or can be rated
  backend/src/controllers/projects-controller.ts
  backend/src/entities/project.ts
  backend/src/entities/team.ts
  backend/src/services/project-service.ts
  backend/src/services/rating-service.ts
  backend/src/services/settings-service.ts
  backend/src/services/team-service.ts
  backend/test/services/mock/mock-settings-service.ts
  backend/test/services/project-service-get-all-projects.spec.ts
  backend/test/services/project-service.spec.ts
  backend/test/services/rating-service.spec.ts
  frontend/src/components/pages/projects.tsx
Due: backend, frontend

Add more assertions
  backend/test/services/project-service-get-all-projects.spec.ts
Due: backend

Every team gets a default project
  backend/src/services/team-service.ts
  backend/test/services/team-service.spec.ts
  frontend/src/components/pages/projects.tsx
  frontend/src/components/pages/teams.tsx
Due: backend, frontend

Improve project-service.spec
  backend/src/entities/project.ts
  backend/src/services/project-service.ts
  backend/test/services/project-service.spec.ts
  frontend/src/components/pages/projects.tsx
Due: backend, frontend

Use team image as fallback in ui
  backend/src/controllers/projects-controller.ts
  backend/src/entities/team.ts
  frontend/src/components/pages/projects.tsx
Due: backend, frontend

Project editable
  backend/src/controllers/dto.ts
  backend/src/controllers/projects-controller.ts
  backend/src/services/project-service.ts
  backend/src/services/team-service.ts
  frontend/src/api/index.ts
  frontend/src/components/pages/createTeam.tsx
  frontend/src/components/pages/editProject.tsx
  frontend/src/components/pages/editTeam.tsx
  frontend/src/components/routers/authenticated-router.tsx
  frontend/src/routes.ts
Due: backend, frontend

Add divider below headline of teams.tsx and projects.tsx
  frontend/src/components/pages/projects.tsx
  frontend/src/components/pages/teams.tsx
Due: frontend

Some styling stuff
  frontend/src/components/base/chevron.tsx
  frontend/src/components/base/collapsible.tsx
  frontend/src/components/base/flex.tsx
  frontend/src/components/pages/projects.tsx
  frontend/src/components/pages/teams.tsx
Due: frontend

Removed redundant flex container wrappers
  frontend/src/components/base/checkbox.tsx
  frontend/src/components/base/collapsible.tsx
  frontend/src/components/base/divider.tsx
  frontend/src/components/base/elevated.tsx
  frontend/src/components/base/error-boundary.tsx
  frontend/src/components/base/flex.tsx
  frontend/src/components/base/form-field-button.tsx
  frontend/src/components/base/form-field.tsx
  frontend/src/components/base/notification.tsx
  frontend/src/components/base/placeholder.tsx
  frontend/src/components/base/progress-step.tsx
  frontend/src/components/base/titled-number.tsx
  frontend/src/components/pages/admission.tsx
  frontend/src/components/pages/challenges.tsx
  frontend/src/components/pages/createTeam.tsx
  frontend/src/components/pages/editProject.tsx
  frontend/src/components/pages/editTeam.tsx
  frontend/src/components/pages/forgot-password.tsx
  frontend/src/components/pages/login-form.tsx
  frontend/src/components/pages/map.tsx
  frontend/src/components/pages/page-not-found.tsx
  frontend/src/components/pages/page.tsx
  frontend/src/components/pages/projects.tsx
  frontend/src/components/pages/register-form.tsx
  frontend/src/components/pages/reset-password.tsx
  frontend/src/components/pages/settings.tsx
  frontend/src/components/pages/statistics.tsx
  frontend/src/components/pages/teams.tsx
  frontend/src/components/questions/form.tsx
  frontend/src/components/questions/unified-question-editor.tsx
  frontend/src/components/routers/authenticated-router.tsx
  frontend/src/components/routers/sidebar/sidebar-toggle.tsx
  frontend/src/components/routers/sidebar/sidebar.tsx
  frontend/src/components/routers/unauthenticated-router.tsx
  frontend/src/components/settings/application/question-editor.tsx
  frontend/src/components/settings/mail-settings/email-settings.tsx
  frontend/src/components/settings/settings-section.tsx
Due: frontend

Admins can enable rating for individual projects
  frontend/src/components/pages/editProject.tsx
Due: frontend

View team wip
  frontend/src/components/pages/editTeam.tsx
  frontend/src/components/pages/login-form.tsx
  frontend/src/components/pages/viewTeam.tsx
Due: frontend

View team wip
  frontend/src/components/pages/editTeam.tsx
  frontend/src/components/pages/viewTeam.tsx
Due: frontend

View team wip
  frontend/src/components/pages/editTeam.tsx
  frontend/src/components/pages/view-team.tsx
Due: frontend

View team
  frontend/src/components/base/button.tsx
  frontend/src/components/base/dialog.tsx
  frontend/src/components/base/image.tsx
  frontend/src/components/pages/editProject.tsx
  frontend/src/components/pages/editTeam.tsx
  frontend/src/components/pages/read-only-team.tsx
  frontend/src/components/routers/authenticated-router.tsx
  frontend/src/routes.ts
Due: frontend

file renaming
  frontend/src/components/pages/view-project.tsx
  frontend/src/components/pages/view-team.tsx
  frontend/src/components/routers/authenticated-router.tsx
Due: frontend

wip, pageheader component
  frontend/src/components/base/button.tsx
  frontend/src/components/base/page-header.tsx
  frontend/src/components/pages/projects.tsx
  frontend/src/components/pages/read-only-project.tsx
  frontend/src/components/pages/teams.tsx
  frontend/src/components/pages/view-project.tsx
  frontend/src/components/pages/view-team.tsx
  frontend/src/components/routers/authenticated-router.tsx
  frontend/src/routes.ts
Due: frontend

Use PageHeader almost everywhere, fix updateProject id
  backend/src/controllers/dto.ts
  backend/src/controllers/projects-controller.ts
  backend/src/services/project-service.ts
  backend/test/controllers/projects-controller.spec.ts
  frontend/src/components/base/page-header.tsx
  frontend/src/components/pages/createTeam.tsx
  frontend/src/components/pages/projects.tsx
  frontend/src/components/pages/read-only-project.tsx
  frontend/src/components/pages/read-only-team.tsx
  frontend/src/components/pages/status.tsx
  frontend/src/components/pages/view-project.tsx
  frontend/src/components/questions/form.tsx
Due: backend, frontend

Margins, ViewProject project null fix
  frontend/src/components/base/page-header.tsx
  frontend/src/components/pages/projects.tsx
  frontend/src/components/pages/read-only-project.tsx
  frontend/src/components/pages/read-only-team.tsx
  frontend/src/components/pages/status.tsx
  frontend/src/components/pages/teams.tsx
  frontend/src/components/pages/view-project.tsx
  frontend/src/components/pages/view-team.tsx
Due: frontend

Prevent impersonation of other users when casting votes. 2025 -> 2026
  backend/src/controllers/rating-controller.ts
  backend/src/services/rating-service.ts
  backend/test/controllers/rating-controller.spec.ts
  backend/test/services/rating-service.spec.ts
  backup/admit.html
  frontend/src/components/base/dialog.tsx
  frontend/src/components/pages/criterion.tsx
  frontend/src/components/pages/read-only-project.tsx
  frontend/src/components/pages/status.tsx
  frontend/src/components/routers/sidebar/sidebar.tsx
  frontend/src/components/routers/unauthenticated-router.tsx
Due: backend, frontend

Ratings can be cast by users in the frontend
  backend/src/controllers/dto.ts
  backend/src/controllers/rating-controller.ts
  backend/src/services/rating-service.ts
  frontend/src/api/index.ts
  frontend/src/components/pages/rating-form.tsx
  frontend/src/components/pages/read-only-project.tsx
Due: backend, frontend

Fix backend tests
  backend/src/services/rating-service.ts
  backend/test/controllers/rating-controller.spec.ts
  backend/test/services/mock/mock-rating-service.ts
  backend/test/services/rating-service.spec.ts
  frontend/src/components/pages/rating-form.tsx
Due: backend, frontend

Show rating results on project list for admins
  backend/src/controllers/dto.ts
  backend/src/services/rating-service.ts
  frontend/src/components/pages/projects.tsx
  frontend/src/components/pages/rating-form.tsx
Due: backend, frontend

Fix test
  backend/test/services/rating-service.spec.ts
Due: backend

Prettier
  backend/src/controllers/criterion-controller.ts
  backend/src/controllers/projects-controller.ts
  backend/src/controllers/rating-controller.ts
  backend/src/entities/project.ts
  backend/src/entities/rating.ts
  backend/src/services/criterion-service.ts
  backend/src/services/project-service.ts
  backend/src/services/rating-service.ts
  backend/src/services/team-service.ts
  backend/test/controllers/projects-controller.spec.ts
  backend/test/controllers/rating-controller.spec.ts
  backend/test/services/project-service-get-all-projects.spec.ts
  backend/test/services/project-service.spec.ts
  backend/test/services/rating-service.spec.ts
  backend/test/services/team-service.spec.ts
  frontend/src/api/index.ts
  frontend/src/components/base/button.tsx
  frontend/src/components/base/chevron.tsx
  frontend/src/components/base/collapsible.tsx
  frontend/src/components/base/dialog.tsx
  frontend/src/components/base/page-header.tsx
  frontend/src/components/pages/projects.tsx
  frontend/src/components/pages/rating-form.tsx
  frontend/src/components/pages/read-only-project.tsx
  frontend/src/components/pages/read-only-team.tsx
  frontend/src/components/pages/teams.tsx
  frontend/src/components/pages/view-project.tsx
  frontend/src/components/pages/view-team.tsx
  frontend/src/components/routers/sidebar/sidebar.tsx
  frontend/src/components/settings/project-rating/rating-criteria-settings.tsx
Due: backend, frontend

Only admitted users may rate projects
  backend/src/services/rating-service.ts
  backend/test/services/rating-service.spec.ts
Due: backend

Dont tell admins they are part of every project
  backend/src/services/rating-service.ts
  backend/test/services/rating-service.spec.ts
  frontend/src/components/pages/view-project.tsx
Due: backend, frontend

Even prettier
  backend/src/controllers/rating-controller.ts
  backend/src/services/rating-service.ts
  backend/test/controllers/rating-controller.spec.ts
  frontend/src/components/base/flex.tsx
  frontend/src/components/pages/projects.tsx
  frontend/src/components/pages/rating-form.tsx
  frontend/src/components/pages/read-only-project.tsx
  frontend/src/components/pages/read-only-team.tsx
  frontend/src/components/pages/view-project.tsx
  frontend/src/components/settings/project-rating/rating-criteria-settings.tsx
Due: backend, frontend

typefix
  frontend/src/components/pages/view-project.tsx
Due: frontend

prettier
  backend/test/controllers/rating-controller.spec.ts
  frontend/src/components/pages/view-project.tsx
Due: backend, frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
