Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        target: 80%
        flags: backend
      frontend:
        target: 80%
        flags: frontend

flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - frontend/

split questions and editors to separate components
  backend/src/controllers/dto.ts
  frontend/src/components/form-editor.tsx
  frontend/src/components/form.tsx
  frontend/src/components/question-editor.tsx
  frontend/src/components/question.tsx
  frontend/src/components/questions/choices-question-editor.tsx
  frontend/src/components/questions/choices-question.tsx
  frontend/src/components/questions/country-question-editor.tsx
  frontend/src/components/questions/country-question.tsx
  frontend/src/components/questions/number-question-editor.tsx
  frontend/src/components/questions/number-question.tsx
  frontend/src/components/questions/text-question-editor.tsx
  frontend/src/components/questions/text-question.tsx
  frontend/src/components/questions/unified-question-editor.tsx
  frontend/src/components/questions/unified-question.tsx
Due: backend, frontend

be consistent with on and handle callbacks
  frontend/src/components/application-settings.tsx
  frontend/src/components/email-settings.tsx
  frontend/src/components/email-template-editor.tsx
  frontend/src/components/frontend-settings.tsx
  frontend/src/components/login-signup-form.tsx
Due: frontend

use partial over keyof field changer
  frontend/src/components/application-settings.tsx
  frontend/src/components/email-settings.tsx
  frontend/src/components/form-editor.tsx
  frontend/src/components/frontend-settings.tsx
  frontend/src/components/questions/choices-question-editor.tsx
  frontend/src/components/questions/number-question-editor.tsx
  frontend/src/components/questions/text-question-editor.tsx
  frontend/src/components/questions/unified-question-editor.tsx
  frontend/src/hooks/use-uniqe-id.ts
Due: frontend

drop state from checkbox
  frontend/src/components/checkbox.tsx
Due: frontend

hide exception messages in production
  backend/src/middlewares/error-handler-middleware.ts
  backend/test/middlewares/error-handler-middleware.spec.ts
Due: backend

remove orphan questions from settings
  backend/src/services/settings-service.ts
  backend/test/services/settings-service.spec.ts
Due: backend

remove static api client
  frontend/src/api/backend-api.ts
  frontend/src/api/index.ts
  frontend/src/api/static-api.ts
  frontend/src/hooks/use-api.ts
  frontend/src/util.ts
  frontend/test/__mocks__/api.ts
Due: frontend

validate questions in array
  backend/src/controllers/dto.ts
Due: backend

add updated and created to application, question and settings
  backend/src/controllers/dto.ts
  backend/src/entities/application.ts
  backend/src/entities/question.ts
  backend/src/entities/settings.ts
Due: backend

only expect single question parent in graph
  backend/src/services/question-service.ts
Due: backend

allow optional question id in dto
  backend/src/controllers/dto.ts
Due: backend

add application service
  backend/src/controllers/application-controller.ts
  backend/src/controllers/dto.ts
  backend/src/entities/answer.ts
  backend/src/entities/application.ts
  backend/src/entities/form-answers.ts
  backend/src/services/answer-service.ts
  backend/src/services/application-service.ts
  backend/src/services/question-service.ts
  backend/src/services/tilt-service.ts
  backend/test/services/mock/mock-answer-service.ts
  backend/test/services/mock/mock-application-service.ts
  backend/test/services/tilt-service.spec.ts
Due: backend

add tests for application and question graph services
  backend/src/services/application-service.ts
  backend/test/services/application-service.spec.ts
  backend/test/services/question-service.spec.ts
Due: backend

drop question not found error
  backend/src/controllers/application-controller.ts
  backend/src/services/application-service.ts
Due: backend

increase backend test timeout to 30s
  backend/test/setup.ts
Due: backend

run tests sequentially
  package.json
Due: none

ensure created and updated date columns are readonly
  backend/src/entities/user.ts
  backend/src/services/user-service.ts
Due: backend

add confirmation form
  backend/src/entities/answer.ts
  backend/src/entities/application.ts
  backend/src/entities/form-answers.ts
  backend/src/services/application-service.ts
  backend/src/services/question-service.ts
  backend/test/services/application-service.spec.ts
Due: backend

add missing methods to mock application service
  backend/test/services/mock/mock-application-service.ts
Due: backend

allow finding users by their id
  backend/src/services/user-service.ts
  backend/test/services/mock/mock-user-service.ts
  backend/test/services/user-service.spec.ts
Due: backend

add confirmation rest methods
  backend/src/controllers/application-controller.ts
Due: backend

add application controller methods to api client
  backend/src/controllers/application-controller.ts
  frontend/src/api/index.ts
  frontend/src/api/types/controllers.ts
  frontend/test/__mocks__/api.ts
Due: backend, frontend

return collection from api hook instead of array
  frontend/src/components/login-signup-form.tsx
  frontend/src/components/verify-email.tsx
  frontend/src/contexts/settings-context.tsx
  frontend/src/hooks/use-api.ts
Due: frontend

remove unnecessary or
  backend/src/controllers/application-controller.ts
Due: backend

fix existing answers not updating values
  backend/src/services/application-service.ts
Due: backend

allow empty answers for non-mandatory questions
  backend/src/services/application-service.ts
  backend/test/services/application-service.spec.ts
Due: backend

add form inputs
  frontend/src/components/form.tsx
  frontend/src/components/profile-form.tsx
  frontend/src/components/questions/stringified-unified-question.tsx
  frontend/src/hooks/use-derived-state.ts
Due: frontend

use select for parent question
  frontend/src/components/form-editor.tsx
  frontend/src/components/question-editor.tsx
  frontend/src/components/questions/unified-question-editor.tsx
Due: frontend

get rid of undefined for question fields
  backend/src/controllers/dto.ts
  backend/src/entities/question.ts
  frontend/src/components/form-editor.tsx
  frontend/src/components/questions/unified-question-editor.tsx
Due: backend, frontend

adjust help texts for parent questions
  frontend/src/components/application-settings.tsx
  frontend/src/components/email-settings.tsx
Due: frontend

treat empty answers as missing answers
  backend/src/services/application-service.ts
Due: backend

fix null key type error
  frontend/src/components/form.tsx
Due: frontend

fix broken question test suite
  backend/test/services/question-service.spec.ts
Due: backend

fix codecov frontend report
  package.json
Due: none

transform answer fields to dto using decorator
  backend/src/controllers/application-controller.ts
  backend/src/controllers/dto.ts
  backend/src/services/application-service.ts
Due: backend

remove admission flag from user entity
  backend/src/entities/user.ts
  backend/src/services/user-service.ts
  backend/test/services/application-service.spec.ts
Due: backend

remove create and update columns from application
  backend/src/entities/application.ts
Due: backend

remove undefined from application dates
  backend/src/entities/application.ts
Due: backend

eagerly load user from application
  backend/src/entities/application.ts
Due: backend

add confirmed field to application
  backend/src/entities/application.ts
  backend/src/services/application-service.ts
Due: backend
