Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        target: 80%
        flags: backend
      frontend:
        target: 80%
        flags: frontend

flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - frontend/

resolve json modules in ts
  frontend/tsconfig.json
Due: frontend

fix checkbox multiselect bug in radio mode
  frontend/src/components/checkbox.tsx
Due: frontend

add grid rows and columns
  frontend/src/components/grid.tsx
  frontend/src/config.ts
Due: frontend

remove separate questions route
  frontend/src/components/sidebar.tsx
  frontend/src/routes.ts
Due: frontend

use string length for empty check in text input
  frontend/src/components/text-input.tsx
Due: frontend

add section headings
  frontend/src/components/headings.tsx
Due: frontend

add question types
  types/questions.d.ts
Due: none

add text question
  frontend/src/components/text-question.tsx
Due: frontend

add number question
  frontend/src/components/number-question.tsx
Due: frontend

add choices question
  frontend/src/components/choices-question.tsx
  frontend/test/components/choices-question.spec.tsx
Due: frontend

add country question
  frontend/src/components/country-question.tsx
Due: frontend

add question wrapper component
  frontend/src/components/question.tsx
Due: frontend

add editable question
  frontend/src/components/editable-question.tsx
  frontend/src/fortunes.ts
Due: frontend

add questions editor
  frontend/src/components/questions-editor.tsx
Due: frontend

use interfaces in settings entity
  backend/src/entities/settings.ts
Due: backend

use single api route to update all settings
  backend/src/controllers/settings.ts
  backend/src/entities/email-settings.ts
  backend/src/entities/email-templates.ts
  backend/src/services/email-template.ts
  backend/src/services/settings.ts
  backend/src/validation/email-settings.ts
  backend/src/validation/email-templates.ts
  backend/src/validation/update-settings.ts
  backend/test/controllers/settings.spec.ts
  backend/test/services/mock/settings.ts
  backend/test/services/settings.spec.ts
  types/api.d.ts
  types/settings-email.d.ts
  types/settings.d.ts
Due: backend

use new settings update route
  frontend/src/api/backend-api.ts
  frontend/src/api/index.ts
  frontend/src/api/static-api.ts
  types/settings.d.ts
Due: frontend

use new update settings action
  frontend/src/actions/settings.ts
  frontend/src/components/email-settings.tsx
Due: frontend

rename questions editor to form editor
  frontend/src/components/form-editor.tsx
Due: frontend

rename props interface to match convention
  frontend/src/components/form-editor.tsx
Due: frontend

shorten parent reference field names
  frontend/src/components/question.tsx
  types/questions.d.ts
Due: frontend

add application settings
  frontend/src/api/static-api.ts
  types/settings.d.ts
Due: frontend

use form editor to edit complete form
  frontend/src/components/form-editor.tsx
Due: frontend

add application settings entities
  backend/src/entities/application-settings.ts
  backend/src/entities/form-settings.ts
  backend/src/entities/question-base.ts
  backend/src/entities/settings.ts
Due: backend

split text input props up for stateful text input
  frontend/src/components/text-input.tsx
Due: frontend

log error message when loading default settings
  backend/src/services/settings.ts
Due: backend

specify form type to update settings
  frontend/src/actions/settings.ts
  frontend/src/components/email-settings.tsx
Due: frontend

add application settings
  frontend/src/components/application-settings.tsx
  frontend/src/components/settings.tsx
  frontend/src/state.ts
Due: frontend

add jest-date-mock
  frontend/package.json
  frontend/test/setup.ts
  frontend/yarn.lock
Due: frontend

fix and add new tests to settings actions
  frontend/test/actions/settings.spec.ts
Due: frontend

mock api in test
  frontend/jest.config.js
  frontend/test/__mocks__/api.ts
  frontend/test/actions/login.spec.ts
  frontend/test/actions/settings.spec.ts
  frontend/test/actions/signup.spec.ts
Due: frontend

add transformer decorator for polymorphic arrays
  backend/src/validation/polymorphism.ts
  backend/test/validation/polymorphism.spec.ts
Due: backend

add dependency status badges
  README.md
Due: none

don't use recursive partial on arrays
  types/api.d.ts
Due: none

require reference name to be set
  frontend/src/components/form-editor.tsx
  frontend/src/components/question.tsx
  types/questions.d.ts
Due: frontend

enable iteration downleveling
  backend/tsconfig.json
Due: backend

fail array transform if the value isn't an array
  backend/src/validation/polymorphism.ts
Due: backend

add validation for application settings
  backend/src/utils/switch.ts
  backend/src/validation/update-settings.ts
Due: backend

add individual entity per question type
  backend/src/entities/choices-question.ts
  backend/src/entities/country-question.ts
  backend/src/entities/form-settings.ts
  backend/src/entities/number-question.ts
  backend/src/entities/question-base.ts
  backend/src/entities/text-question.ts
  types/questions.d.ts
Due: backend

update application settings
  backend/src/controllers/settings.ts
  backend/src/services/settings.ts
Due: backend
