Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

remove old dependencies
  frontend/src/components/routers/sidebar/sidebar.tsx
Due: frontend

fix: 🐛 prettier errors
  frontend/src/components/pages/challenges.tsx
  frontend/src/components/pages/map.tsx
  frontend/src/components/routers/sidebar/sidebar-menu.tsx
  frontend/src/routes.ts
Due: frontend

refactor: 💡 formatting fixed
  backend/src/controllers/dto.ts
  backend/src/services/application-service.ts
Due: backend

refactor: 💡 fix linting
  frontend/src/components/base/progress-step.tsx
Due: frontend

feat: make admission header sticky
  frontend/src/components/pages/admission.tsx
  yarn.lock
Due: frontend

add reset password endpoint
  backend/src/controllers/dto.ts
  backend/src/controllers/users-controller.ts
  backend/src/entities/user.ts
  backend/src/services/user-service.ts
  frontend/src/api/index.ts
  frontend/src/components/app.tsx
  frontend/src/components/base/form-field.tsx
  frontend/src/components/base/text-input.tsx
  frontend/src/components/pages/forgot-password.tsx
  frontend/src/components/pages/login-form.tsx
  frontend/src/components/pages/register-form.tsx
  frontend/src/components/routers/unauthenticated-router.tsx
  frontend/src/routes.ts
Due: backend, frontend

refactor: 💡 add endpoints for password reset
  backend/src/controllers/dto.ts
  backend/src/controllers/users-controller.ts
  backend/src/entities/settings.ts
  backend/src/entities/user.ts
  backend/src/services/email-template-service.ts
  backend/src/services/user-service.ts
Due: backend

refactor: 💡 add reset-screen
  backend/src/controllers/dto.ts
  backend/src/controllers/users-controller.ts
  backend/src/services/user-service.ts
  frontend/src/api/index.ts
  frontend/src/components/app.tsx
  frontend/src/components/base/text-input.tsx
  frontend/src/components/pages/reset-password.tsx
  frontend/src/components/routers/unauthenticated-router.tsx
  frontend/src/components/settings/email-settings.tsx
  frontend/src/components/settings/email-template-editor.tsx
  frontend/src/routes.ts
Due: backend, frontend

style: 💄 lint lint lint
  backend/src/services/user-service.ts
  frontend/src/components/pages/login-form.tsx
  frontend/src/components/pages/signup-done.tsx
Due: backend, frontend

style: 💄 fix typechecks
  frontend/src/components/base/text-input.tsx
  frontend/test/__mocks__/api.ts
Due: frontend

fix: 🐛 tests backend
  backend/src/services/user-service.ts
  backend/test/controllers/users-controller.spec.ts
  backend/test/services/mock/mock-email-template-service.ts
  backend/test/services/user-service.spec.ts
Due: backend

fix: 🐛 add missing mock user functions
  backend/test/services/mock/mock-user-service.ts
Due: backend

refactor: 💡 add firstname and lastname to application test
  backend/test/services/application-service.spec.ts
Due: backend

fix: 🐛 git add forgotPasswordToken
  backend/test/services/application-service.spec.ts
Due: backend

refactor: 💡 change settings order
  backend/src/entities/settings.ts
Due: backend

refactor: 💡 add forgotpasswordemail mock
  backend/test/services/settings-service.spec.ts
Due: backend

fix: 🐛 forgot was missing on more places
  backend/test/services/settings-service.spec.ts
Due: backend

fix tests
  backend/src/services/settings-service.ts
  backend/test/services/settings-service.spec.ts
  backend/test/services/user-service.spec.ts
  package.json
  yarn.lock
Due: backend

refactor: 💡 add some margin
  frontend/src/components/base/copyable-text.tsx
  frontend/src/components/pages/system.tsx
Due: frontend

updated links
  frontend/src/components/base/message.tsx
  frontend/src/components/forms/form.tsx
  frontend/src/components/pages/admission.tsx
  frontend/src/components/pages/forgot-password.tsx
  frontend/src/components/pages/login-form.tsx
  frontend/src/components/pages/register-form.tsx
  frontend/src/components/pages/reset-password.tsx
  frontend/src/components/pages/signup-done.tsx
  frontend/src/components/pages/verify-email.tsx
  frontend/src/components/routers/unauthenticated-router.tsx
  package.json
  yarn.lock
Due: frontend

fix: 🐛 tsc fixed
  frontend/src/components/base/message.tsx
  frontend/test/components/message.spec.tsx
Due: frontend

refactor: 💡 remove tests
  frontend/test/components/message.spec.tsx
Due: frontend

fix: 🐛 remove snapshot
  frontend/test/components/__snapshots__/message.spec.tsx.snap
Due: frontend

skipLibCheck: true
  backend/tsconfig.json
Due: backend

fix: 🐛 mail template generation
  frontend/src/components/settings/email-settings.tsx
Due: frontend

fix: statistics view
  backend/src/controllers/dto.ts
  backend/src/controllers/users-controller.ts
  backend/src/services/user-service.ts
  frontend/src/components/base/divider.tsx
  frontend/src/components/base/flex.tsx
  frontend/src/components/base/simple-card.tsx
  frontend/src/components/base/time-chart.tsx
  frontend/src/components/base/titled-number.tsx
  frontend/src/components/forms/form.tsx
  frontend/src/components/pages/settings.tsx
  frontend/src/components/pages/statistics.tsx
  frontend/src/components/pages/status.tsx
  frontend/src/components/pages/system.tsx
  frontend/src/config.ts
  frontend/src/util.ts
Due: backend, frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
