Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        target: 80%
        flags: backend
      frontend:
        target: 80%
        flags: frontend

flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - frontend/

add test for broadcasting setting updates
  backend/test/controllers/settings.spec.ts
Due: backend

return changed settings after update
  backend/src/controllers/settings.ts
Due: backend

update settings in state after update
  frontend/src/actions/settings.ts
  frontend/src/api/backend-api.ts
  frontend/src/api/index.ts
  frontend/src/api/static-api.ts
Due: frontend

provide ui to modify frontend settings
  backend/src/entities/frontend-settings.ts
  frontend/src/components/frontend-settings.tsx
  frontend/src/components/settings.tsx
  frontend/src/state.ts
Due: backend, frontend

inject verifyToken instead of verifyUrl
  backend/src/services/email-template.ts
  frontend/src/components/email-settings.tsx
Due: backend, frontend

resend verification mail if user signs up again
  backend/src/services/user.ts
  backend/test/services/users.spec.ts
Due: backend

upgrade sqlite3, nodemon, bcrypt, jest to node 12
  backend/package.json
  backend/yarn.lock
Due: backend

use node:latest for backend ci again
  .circleci/config.yml
Due: none

add slack webhook env variable
  backend/src/services/config.ts
Due: backend

add slack notification service
  backend/package.json
  backend/src/services/slack.ts
  backend/src/services/tilt.ts
  backend/test/services/mock/slack.ts
  backend/test/services/tilt.spec.ts
  backend/yarn.lock
Due: backend

don't update settings if there are no updates
  backend/src/services/settings.ts
Due: backend

notify slack on non-http errors
  backend/src/middlewares/error-handler-middleware.ts
  backend/test/middlewares/error-handler-middleware.spec.ts
Due: backend

add express req res mocks
  backend/test/middlewares/mock/express.ts
Due: backend

use node:latest for backend dockerfile
  backend/Dockerfile
Due: backend

fix backend docker build
  .dockerignore
  backend/.dockerignore
  backend/Dockerfile
  docker-compose.yml
Due: backend

ignore vim swap files
  .gitignore
Due: none

generalize dockerignore
  .dockerignore
Due: none

fix frontend docker build
  docker-compose.yml
  frontend/Dockerfile
Due: frontend

remove trailing slash from api proxy
  proxy/nginx.conf
Due: none

add backend environment in docker-compose
  docker-compose.yml
Due: none

remove frontend .dockerignore
  frontend/.dockerignore
Due: frontend

add unix signal service
  backend/src/services/unix-signals.ts
  backend/test/services/mock/unix-signals.ts
Due: backend

bootstrap signal service
  backend/src/services/tilt.ts
  backend/test/services/tilt.spec.ts
Due: backend

call process.exit() after handling signals
  backend/src/services/unix-signals.ts
Due: backend

add shutdown notification service
  backend/src/services/boot-shutdown-notifier.ts
  backend/test/services/mock/boot-shutdown-notifier.ts
Due: backend

initialize shutdown notifier service
  backend/src/services/tilt.ts
  backend/test/services/tilt.spec.ts
Due: backend

add controller suffix to files
  backend/src/controllers/activity-controller.ts
  backend/src/controllers/settings-controller.ts
  backend/src/controllers/users-controller.ts
  backend/test/controllers/settings-controller.spec.ts
  backend/test/controllers/users-controller.spec.ts
Due: backend

drop stale websockets
  backend/src/services/http-service.ts
  backend/test/services/http-service.spec.ts
Due: backend

add source to logger
  backend/src/services/logger-service.ts
  backend/test/services/logger-service.spec.ts
Due: backend

add local test schema for error handler middleware
  backend/test/middlewares/error-handler-middleware.spec.ts
Due: backend

add better 404 messages
  backend/src/middlewares/404-middleware.ts
  backend/src/middlewares/error-handler-middleware.ts
Due: backend

upgrade dependencies to fix fsevents on node 12
  frontend/package.json
  frontend/yarn.lock
Due: frontend

upgrade ts in backend
  backend/yarn.lock
Due: backend

use request collection to parallelise requests
  frontend/src/actions/activity.ts
  frontend/src/actions/form.ts
  frontend/src/actions/login.ts
  frontend/src/actions/request.ts
  frontend/src/actions/role.ts
  frontend/src/actions/settings.ts
  frontend/src/actions/signup.ts
  frontend/src/actions/token.ts
  frontend/src/actions/verify.ts
  frontend/src/components/application-settings.tsx
  frontend/src/components/email-settings.tsx
  frontend/src/components/frontend-settings.tsx
  frontend/src/components/link.tsx
  frontend/src/components/login-signup-form.tsx
  frontend/src/reducers/form.ts
  frontend/src/reducers/index.ts
  frontend/src/reducers/request.ts
  frontend/src/state.ts
  frontend/test/actions/activity.spec.ts
  frontend/test/actions/login.spec.ts
  frontend/test/actions/settings.spec.ts
  frontend/test/actions/signup.spec.ts
  frontend/test/reducers/form.spec.ts
  frontend/test/reducers/request.spec.ts
Due: frontend

fix verifyToken not being loaded for user login
  backend/src/services/user-service.ts
Due: backend

verify emails via verify url
  frontend/src/components/app.tsx
  frontend/src/components/verify-email.tsx
  frontend/src/routes.ts
Due: frontend

fix tests after checking verify token
  backend/test/services/user-service.spec.ts
Due: backend

fix linter warnings in backend tests
  backend/package.json
  backend/test/middlewares/mock/express.ts
  backend/test/services/mock/mock-activity-service.ts
  backend/test/services/mock/mock-boot-shutdown-notification-service.ts
  backend/test/services/mock/mock-config-service.ts
  backend/test/services/mock/mock-database-service.ts
  backend/test/services/mock/mock-email-service.ts
  backend/test/services/mock/mock-email-template-service.ts
  backend/test/services/mock/mock-haveibeenpwned-service.ts
  backend/test/services/mock/mock-http-service.ts
  backend/test/services/mock/mock-logger-service.ts
  backend/test/services/mock/mock-settings-service.ts
  backend/test/services/mock/mock-slack-service.ts
  backend/test/services/mock/mock-token-service.ts
  backend/test/services/mock/mock-unix-signal-service.ts
  backend/test/services/mock/mock-user-service.ts
  backend/test/services/mock/mock-ws-service.ts
  backend/tslint.json
Due: backend

update app snapshot
  frontend/test/components/__snapshots__/app.spec.tsx.snap
Due: frontend
