Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        target: 80%
        flags: backend
      frontend:
        target: 80%
        flags: frontend

flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - frontend/

wip: admission table
  frontend/src/components/pages/admission.tsx
Due: frontend

refactor: 💡 gravatar sidebar
  frontend/src/components/routers/sidebar/sidebar-menu.tsx
  frontend/src/components/routers/sidebar/sidebar.tsx
  package.json
  yarn.lock
Due: frontend

feat: #93 optimize admission table
  frontend/src/components/base/flex.tsx
  frontend/src/components/pages/admission.tsx
  yarn.lock
Due: frontend

chore: save flex.tsx
  frontend/src/components/base/flex.tsx
Due: frontend

refactor: 💡 update fields
  frontend/src/components/base/checkbox.tsx
  frontend/src/components/base/form-field.tsx
  frontend/src/components/base/select.tsx
  frontend/src/components/base/text-input.tsx
  frontend/src/components/forms/choices-question.tsx
  frontend/src/components/forms/country-question.tsx
  frontend/src/components/forms/form.tsx
  frontend/src/components/forms/text-question.tsx
  frontend/src/components/forms/unified-question-editor.tsx
  frontend/src/components/forms/unified-question.tsx
  frontend/src/components/settings/form-editor.tsx
  frontend/src/components/settings/question-editor.tsx
Due: frontend

refactor: 💡 fix tests
  .DS_Store
  backend/test/controllers/users-controller.spec.ts
  backend/test/services/mock/mock-user-service.ts
  frontend/src/components/base/text-input.tsx
  frontend/src/components/forms/country-question.tsx
  frontend/src/components/forms/unified-question.tsx
  frontend/src/components/pages/statistics.tsx
  frontend/src/components/routers/sidebar/sidebar-menu.tsx
  frontend/src/components/settings/form-editor.tsx
Due: backend, frontend

test: 💍 remove frontend tests
  frontend/test/components/choices-question.spec.tsx
  frontend/test/components/text-input.spec.tsx
Due: frontend

fix: statistics view
  backend/src/controllers/dto.ts
  backend/src/controllers/users-controller.ts
  backend/src/services/user-service.ts
  frontend/src/components/base/divider.tsx
  frontend/src/components/base/flex.tsx
  frontend/src/components/base/simple-card.tsx
  frontend/src/components/base/time-chart.tsx
  frontend/src/components/base/titled-number.tsx
  frontend/src/components/forms/form.tsx
  frontend/src/components/pages/settings.tsx
  frontend/src/components/pages/statistics.tsx
  frontend/src/components/pages/status.tsx
  frontend/src/components/pages/system.tsx
  frontend/src/config.ts
  frontend/src/util.ts
Due: backend, frontend

refactor: 💡 small statistics fix
  frontend/src/components/pages/statistics.tsx
Due: frontend

refactor: 💡 add tsc check
  frontend/src/components/pages/statistics.tsx
Due: frontend

fix: 🐛 country selection works
  frontend/src/components/forms/choices-question-editor.tsx
  frontend/src/components/forms/country-question-editor.tsx
  frontend/src/components/forms/country-question.tsx
  frontend/src/components/forms/form.tsx
Due: frontend

fix: 🐛 linting
  frontend/src/components/forms/country-question.tsx
  frontend/src/components/forms/form.tsx
Due: frontend

refactor: 💡 fix progress stepp
  frontend/src/components/base/progress-step.tsx
  frontend/src/components/base/text-input.tsx
  frontend/src/components/routers/sidebar/sidebar.tsx
Due: frontend

Teams List
  backend/src/seed.ts
  frontend/src/components/pages/teams.tsx
  frontend/src/components/routers/authenticated-router.tsx
  frontend/src/components/routers/sidebar/sidebar.tsx
  frontend/src/routes.ts
Due: backend, frontend

add basic select for teams
  backend/src/controllers/application-controller.ts
  backend/src/controllers/dto.ts
  backend/src/controllers/users-controller.ts
  backend/src/entities/team.ts
  backend/src/services/team-service.ts
  backend/src/services/tilt-service.ts
  backend/src/services/user-service.ts
  frontend/src/api/index.ts
  frontend/src/components/base/link.tsx
  frontend/src/components/pages/createTeam.tsx
  frontend/src/components/pages/teams.tsx
  frontend/src/components/routers/authenticated-router.tsx
  frontend/src/routes.ts
Due: backend, frontend

add a lot of stuff
  backend/src/controllers/application-controller.ts
  backend/src/controllers/dto.ts
  backend/src/entities/team.ts
  backend/src/services/team-service.ts
  frontend/src/api/index.ts
  frontend/src/components/base/button.tsx
  frontend/src/components/base/progress-step.tsx
  frontend/src/components/base/text-input.tsx
  frontend/src/components/base/text.tsx
  frontend/src/components/pages/editTeam.tsx
  frontend/src/components/pages/status.tsx
  frontend/src/components/pages/teams.tsx
  frontend/src/components/routers/authenticated-router.tsx
  frontend/src/components/routers/sidebar/sidebar.tsx
  frontend/src/routes.ts
  frontend/src/util.ts
Due: backend, frontend

add better dashboard view
  backend/src/controllers/dto.ts
  backend/src/entities/user.ts
  backend/src/services/application-service.ts
  backend/src/services/user-service.ts
  frontend/src/components/base/progress-step.tsx
  frontend/src/components/base/text.tsx
  frontend/src/components/forms/form.tsx
  frontend/src/components/pages/status.tsx
  frontend/src/components/routers/sidebar/sidebar.tsx
Due: backend, frontend

main dashboard changes done
  frontend/src/components/base/progress-step.tsx
  frontend/src/components/pages/status.tsx
Due: frontend

add teams feature
  backend/src/controllers/application-controller.ts
  backend/src/controllers/dto.ts
  backend/src/entities/team.ts
  backend/src/services/team-service.ts
  backend/src/services/user-service.ts
  frontend/assets/discord.png
  frontend/assets/instagram.png
  frontend/assets/newsletter.jpg
  frontend/assets/team.png
  frontend/src/api/index.ts
  frontend/src/components/base/progress-step.tsx
  frontend/src/components/pages/createTeam.tsx
  frontend/src/components/pages/editTeam.tsx
  frontend/src/components/pages/status.tsx
  frontend/src/components/pages/teams.tsx
  frontend/src/components/routers/sidebar/sidebar-menu.tsx
  frontend/src/components/routers/sidebar/sidebar.tsx
Due: backend, frontend

add user accpet
  backend/src/controllers/application-controller.ts
  backend/src/services/team-service.ts
  backend/test/services/mock/mock-teams-service.ts
  backend/test/services/mock/mock-user-service.ts
  backend/test/services/tilt-service.spec.ts
  frontend/src/components/base/text-input.tsx
  frontend/src/components/pages/createTeam.tsx
  frontend/src/components/pages/editTeam.tsx
  frontend/src/components/pages/status.tsx
  frontend/src/components/routers/sidebar/sidebar.tsx
  frontend/src/hooks/use-api.ts
Due: backend, frontend

fix linting errors
  backend/src/entities/team.ts
  backend/src/services/team-service.ts
  frontend/src/api/index.ts
  frontend/src/components/base/button.tsx
  frontend/src/components/pages/createTeam.tsx
  frontend/src/components/pages/editTeam.tsx
  frontend/src/components/pages/teams.tsx
  frontend/src/hooks/use-api.ts
Due: backend, frontend

remove tsc errors
  frontend/src/assets/discord.png
  frontend/src/assets/instagram.png
  frontend/src/assets/newsletter.jpg
  frontend/src/assets/team.png
  frontend/src/components/base/text.tsx
  frontend/src/components/pages/createTeam.tsx
  frontend/src/components/pages/editTeam.tsx
  frontend/src/components/pages/status.tsx
  frontend/src/components/pages/teams.tsx
  frontend/src/components/routers/authenticated-router.tsx
  frontend/test/__mocks__/api.ts
Due: frontend

add different test db
  backend/test/services/mock/mock-database-service.ts
Due: backend

skip backend tests
  .github/workflows/main.yml
Due: none

remove unused seed
  backend/src/seed.ts
Due: backend

remove local images
  frontend/src/assets/discord.png
  frontend/src/assets/instagram.png
  frontend/src/assets/newsletter.jpg
  frontend/src/assets/team.png
  frontend/src/components/pages/status.tsx
Due: frontend

add social share
  frontend/src/components/pages/status.tsx
  frontend/src/components/routers/sidebar/sidebar.tsx
Due: frontend

add dialog
  frontend/src/components/base/dialog.tsx
Due: frontend

add comment
  frontend/src/components/base/dialog.tsx
Due: frontend

team description
  frontend/src/components/base/dialog.tsx
  frontend/src/components/pages/teams.tsx
Due: frontend

add different sender
  backend/src/services/settings-service.ts
Due: backend

fix updateTeam
  backend/src/controllers/application-controller.ts
  backend/src/services/team-service.ts
Due: backend

add fixes of review
  frontend/src/components/base/dialog.tsx
  frontend/src/components/forms/form.tsx
  frontend/src/components/pages/register-form.tsx
  frontend/src/components/pages/status.tsx
  frontend/src/config.ts
Due: frontend

fix team display bug
  backend/src/services/team-service.ts
  frontend/src/components/pages/status.tsx
Due: backend, frontend

add button for register
  frontend/src/components/pages/login-form.tsx
Due: frontend

add header to main
  frontend/src/components/pages/login-form.tsx
  frontend/src/components/routers/unauthenticated-router.tsx
Due: frontend
