Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        target: 80%
        flags: backend
      frontend:
        target: 80%
        flags: frontend

flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - frontend/

add sidebar image to settings
  backend/src/entities/frontend-settings.ts
  frontend/src/api/static-api.ts
  frontend/src/reducers/settings.ts
  types/settings.d.ts
Due: backend, frontend

add sidebar components
  frontend/src/components/sidebar-logo.tsx
  frontend/src/components/sidebar-menu.tsx
  frontend/src/components/sidebar.tsx
Due: frontend

add sidebar burger
  frontend/src/components/sidebar-burger.tsx
Due: frontend

add dashboard
  frontend/src/components/dashboard.tsx
  frontend/src/components/page-not-found.tsx
  frontend/src/config.ts
Due: frontend

only show signup done message after signup
  frontend/src/components/login-signup-form.tsx
Due: frontend

add dashboard to app
  frontend/src/components/app.tsx
  frontend/src/routes.ts
  frontend/test/components/__snapshots__/app.spec.tsx.snap
Due: frontend

add haveibeenpwned
  backend/package.json
  backend/src/services/haveibeenpwned.ts
  backend/src/services/tilt.ts
  backend/test/services/haveibeenpwned.spec.ts
  backend/test/services/mock/haveibeenpwned.ts
  backend/test/services/tilt.spec.ts
  backend/yarn.lock
Due: backend

check for breached passwords on signup
  backend/src/controllers/users.ts
  backend/src/services/user.ts
  backend/test/services/activity.spec.ts
  backend/test/services/users.spec.ts
Due: backend

add logout redux action
  frontend/src/actions/login.ts
  frontend/src/actions/role.ts
  frontend/src/components/sidebar.tsx
  frontend/src/state.ts
Due: frontend

use routes enum in sidebar
  frontend/src/components/sidebar.tsx
  frontend/src/routes.ts
Due: frontend

use role to redirect in app
  frontend/src/components/app.tsx
  frontend/test/components/app.spec.tsx
Due: frontend

only show signup message after signup
  frontend/src/components/login-signup-form.tsx
Due: frontend

add monaco editor
  frontend/package.json
  frontend/webpack.config.js
  frontend/yarn.lock
Due: frontend

fix 404 page centering
  frontend/src/components/centering.tsx
  frontend/src/components/dashboard.tsx
  frontend/src/components/page-not-found.tsx
Due: frontend

add segment button
  frontend/src/components/segment-button.tsx
Due: frontend

add email template editor
  frontend/src/components/editor.tsx
  frontend/src/components/email-template-editor.tsx
Due: frontend

increase sidebar menu padding
  frontend/src/components/sidebar-menu.tsx
Due: frontend

add more routes to sidebar
  frontend/src/components/sidebar.tsx
Due: frontend

make sidebar gradient diagonal
  frontend/src/components/sidebar.tsx
Due: frontend

include email type in settings
  frontend/src/api/static-api.ts
  frontend/src/reducers/settings.ts
  types/settings.d.ts
Due: frontend

separately retrieve settings from repo
  backend/test/services/settings.spec.ts
Due: backend

clear settings table before each test
  backend/test/services/settings.spec.ts
Due: backend

load settings eagerly
  backend/src/entities/settings.ts
  backend/src/services/settings.ts
Due: backend

introduce separated email template settings
  backend/src/entities/email-settings.ts
  backend/src/entities/email-template.ts
  frontend/src/api/static-api.ts
  frontend/src/reducers/settings.ts
  types/settings.d.ts
Due: backend, frontend

extract sleep to utils
  frontend/src/api/static-api.ts
  frontend/src/util.ts
Due: frontend

use diagonal gradient in button
  frontend/src/components/button.tsx
Due: frontend

add notification to redux
  frontend/src/actions/notify.ts
  frontend/src/config.ts
  frontend/src/reducers/index.ts
  frontend/src/reducers/notify.ts
  frontend/src/state.ts
  frontend/test/actions/notify.spec.ts
  frontend/test/reducers/notify.spec.ts
Due: frontend

add notification component
  frontend/src/components/dashboard.tsx
  frontend/src/components/notification.tsx
Due: frontend

update routes enum
  frontend/src/routes.ts
Due: frontend

add update email settings api method
  backend/src/controllers/settings.ts
  backend/src/services/settings.ts
  backend/src/validation/email-settings.ts
  backend/test/controllers/settings.spec.ts
  backend/test/services/mock/settings.ts
  backend/test/services/settings.spec.ts
  types/settings-email.d.ts
Due: backend

only forward text to editor change callback
  frontend/src/components/editor.tsx
Due: frontend

allow partial email settings in validation
  backend/src/validation/email-settings.ts
Due: backend

add use-debounce
  frontend/package.json
  frontend/yarn.lock
Due: frontend

add changes saved notification shorthand
  frontend/src/actions/notify.ts
Due: frontend

refactor backend api to use generic request method
  frontend/src/api/backend-api.ts
Due: frontend

add updating email settings to api client
  frontend/src/api/backend-api.ts
  frontend/src/api/index.ts
  frontend/src/api/static-api.ts
Due: frontend

add update email settings action creator
  frontend/src/actions/settings.ts
Due: frontend

expose template changes in template editor
  frontend/src/components/email-template-editor.tsx
Due: frontend

add email settings
  frontend/src/components/dashboard.tsx
  frontend/src/components/email-settings.tsx
  frontend/src/components/settings.tsx
  frontend/src/config.ts
Due: frontend

mock react-monaco-editor with simple component
  frontend/test/__mocks__/react-monaco-editor.tsx
Due: frontend
