Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

typescript 5, react 19
  frontend/src/components/base/form-field.tsx
  frontend/src/hooks/use-derived-state.ts
  frontend/src/index.tsx
  package.json
  yarn.lock
Due: frontend

prettier frontend
  frontend/src/hooks/use-derived-state.ts
  frontend/src/index.tsx
Due: frontend

disable frontend tests
  .github/workflows/main.yml
Due: none

codecov binary for frontend tests
  .github/workflows/main.yml
Due: none

disable frontend codecov
  .github/workflows/main.yml
Due: none

remove debug ls from backend::codecov
  package.json
Due: none

improve readme
  README.md
Due: none

fix: update references from Hackaburg 2024 to Hackaburg 2025
  frontend/src/components/base/dialog.tsx
  frontend/src/components/pages/status.tsx
  frontend/src/components/routers/sidebar/sidebar.tsx
  frontend/src/components/routers/unauthenticated-router.tsx
Due: frontend

fix tests
  backend/src/entities/team.ts
  backend/test/services/mock/mock-database-service.ts
Due: backend

fix: update node version to 16 in GitHub workflows
  .github/workflows/main.yml
Due: none

fix: update Python version to 3.11 and install distutils in GitHub workflows
  .github/workflows/main.yml
Due: none

fix: update distutils installation method in GitHub workflows
  .github/workflows/main.yml
Due: none

fix: remove outdated Python setup steps in GitHub workflows
  .github/workflows/main.yml
Due: none

fix: standardize quotes in team entity for test environment
  backend/src/entities/team.ts
Due: backend

fix: add 2025
  frontend/src/components/base/dialog.tsx
  frontend/src/components/pages/status.tsx
  frontend/src/components/routers/sidebar/sidebar.tsx
  frontend/src/components/routers/unauthenticated-router.tsx
Due: frontend

fix: remove console log for test environment in team entity
  backend/src/entities/team.ts
Due: backend

fix: update team entity for consistency in test environment
  backup/admit.html
  backup/password.html
  backup/subject.html
  backup/verify.html
Due: none

Upgrade dependencies, quickstart
  backend/src/middlewares/logging-middleware.ts
  backend/src/services/unix-signal-service.ts
  backend/tsconfig.json
  package.json
  quickstart.md
  yarn.lock
Due: backend

some small unix signal handler clarification
  backend/src/services/unix-signal-service.ts
Due: backend

database entities
  backend/src/entities/criteria.ts
  backend/src/entities/longtext.ts
  backend/src/entities/project.ts
  backend/src/entities/rating.ts
  backend/src/entities/team.ts
  quickstart.md
Due: backend

prettier
  backend/src/middlewares/logging-middleware.ts
  backend/src/services/unix-signal-service.ts
Due: backend

Add DTOs
  backend/src/controllers/dto.ts
Due: backend

security upgrades
  package.json
  quickstart.md
  yarn.lock
Due: none

Very unfinished wip for controllers and services for rating, criteria and project
  backend/src/controllers/project-controller.ts
  backend/src/controllers/rating-controller.ts
  backend/src/services/project-service.ts
  backend/src/services/rating-service.ts
Due: backend

Added a few missing imports and fixed some types
  backend/src/controllers/rating-controller.ts
  backend/src/services/rating-service.ts
Due: backend

wip
  backend/src/services/project-service.ts
  backend/src/services/rating-service.ts
Due: backend

ignor epackag-elock
  .gitignore
Due: none

rm package-lock.json
  package-lock.json
Due: none

wip
  backend/src/services/rating-service.ts
Due: backend

remoe todos
  backend/src/controllers/criteria-controller.ts
  backend/src/controllers/project-controller.ts
  backend/src/entities/criteria.ts
Due: backend

restore yarn.lock
  yarn.lock
Due: none

createProject
  backend/src/services/project-service.ts
Due: backend

reset yarn.lock, voteCount -> ratingCount
  backend/src/controllers/dto.ts
  backend/src/services/rating-service.ts
  backend/test/services/rating-service.spec.ts
  yarn.lock
Due: backend

extend quickstart info
  frontend/src/components/pages/teams.tsx
  quickstart.md
Due: frontend

improve quickstart, add usermod to package.json scripts
  README.md
  backend/src/services/config-service.ts
  package.json
  quickstart.md
Due: backend

Improved directory structure and naming for questions and settings
  frontend/src/components/pages/confirmation-form.tsx
  frontend/src/components/pages/profile-form.tsx
  frontend/src/components/questions/choices-question-editor.tsx
  frontend/src/components/questions/choices-question.tsx
  frontend/src/components/questions/country-question-editor.tsx
  frontend/src/components/questions/country-question.tsx
  frontend/src/components/questions/form.tsx
  frontend/src/components/questions/number-question-editor.tsx
  frontend/src/components/questions/number-question.tsx
  frontend/src/components/questions/sorting-buttons.tsx
  frontend/src/components/questions/stringified-unified-question.tsx
  frontend/src/components/questions/text-question-editor.tsx
  frontend/src/components/questions/text-question.tsx
  frontend/src/components/questions/unified-question-editor.tsx
  frontend/src/components/questions/unified-question.tsx
  frontend/src/components/settings/appearance/frontend-settings.tsx
  frontend/src/components/settings/application/application-settings.tsx
  frontend/src/components/settings/application/form-editor.tsx
  frontend/src/components/settings/application/question-editor.tsx
  frontend/src/components/settings/mail-settings/email-settings.tsx
  frontend/src/components/settings/mail-settings/email-template-editor.tsx
  frontend/src/components/settings/project-rating/criteria-settings.tsx
  yarn.lock
Due: frontend

wip
  frontend/src/components/settings/project-rating/criteria-settings.tsx
Due: frontend

Improved directory structure and naming for questions and settings
  frontend/src/components/pages/confirmation-form.tsx
  frontend/src/components/pages/profile-form.tsx
  frontend/src/components/pages/settings.tsx
  frontend/src/components/questions/choices-question-editor.tsx
  frontend/src/components/questions/choices-question.tsx
  frontend/src/components/questions/country-question-editor.tsx
  frontend/src/components/questions/country-question.tsx
  frontend/src/components/questions/form.tsx
  frontend/src/components/questions/number-question-editor.tsx
  frontend/src/components/questions/number-question.tsx
  frontend/src/components/questions/sorting-buttons.tsx
  frontend/src/components/questions/stringified-unified-question.tsx
  frontend/src/components/questions/text-question-editor.tsx
  frontend/src/components/questions/text-question.tsx
  frontend/src/components/questions/unified-question-editor.tsx
  frontend/src/components/questions/unified-question.tsx
  frontend/src/components/settings/appearance/frontend-settings.tsx
  frontend/src/components/settings/application/application-settings.tsx
  frontend/src/components/settings/application/form-editor.tsx
  frontend/src/components/settings/application/question-editor.tsx
  frontend/src/components/settings/mail-settings/email-settings.tsx
  frontend/src/components/settings/mail-settings/email-template-editor.tsx
  frontend/src/components/settings/project-rating/criteria-settings.tsx
  yarn.lock
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
