Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

add loading indicator to button
  frontend/src/components/button.tsx
  frontend/test/components/button.spec.tsx
Due: frontend

use scale loader in login signup form
  frontend/src/components/login-signup-form.tsx
Due: frontend

merge login and signup image settings
  backend/src/entities/frontend-settings.ts
  frontend/src/api/static-api.ts
  frontend/src/components/login-signup-form.tsx
  frontend/src/reducers/settings.ts
  types/settings.d.ts
Due: backend, frontend

update app snapshot
  frontend/test/components/__snapshots__/app.spec.tsx.snap
Due: frontend

add settings redux tests
  frontend/src/reducers/settings.ts
  frontend/test/actions/settings.spec.ts
  frontend/test/reducers/settings.spec.ts
Due: frontend

add signup redux actions
  frontend/src/actions/signup.ts
  frontend/src/reducers/index.ts
  frontend/src/reducers/signup.ts
  frontend/src/state.ts
  frontend/test/actions/signup.spec.ts
  frontend/test/reducers/signup.spec.ts
Due: frontend

add login redux actions
  frontend/src/actions/login.ts
  frontend/src/reducers/index.ts
  frontend/src/reducers/login.ts
  frontend/src/state.ts
  frontend/test/actions/login.spec.ts
  frontend/test/reducers/login.spec.ts
Due: frontend

only allow verified logins
  backend/src/entities/user.ts
  backend/src/services/user.ts
Due: backend

add request to state
  frontend/src/actions/request.ts
  frontend/src/reducers/index.ts
  frontend/src/reducers/request.ts
  frontend/src/state.ts
  frontend/test/reducers/request.spec.ts
Due: frontend

use form and request instead of login/signup state
  frontend/src/actions/form.ts
  frontend/src/actions/login.ts
  frontend/src/actions/request.ts
  frontend/src/actions/signup.ts
  frontend/src/components/login-signup-form.tsx
  frontend/src/reducers/form.ts
  frontend/src/reducers/index.ts
  frontend/src/reducers/login.ts
  frontend/src/reducers/signup.ts
  frontend/src/state.ts
  frontend/test/actions/login.spec.ts
  frontend/test/actions/signup.spec.ts
  frontend/test/reducers/form.spec.ts
  frontend/test/reducers/login.spec.ts
  frontend/test/reducers/signup.spec.ts
Due: frontend

drop IFetchable entirely
  frontend/src/actions/settings.ts
  frontend/src/components/app.tsx
  frontend/src/components/login-signup-form.tsx
  frontend/src/reducers/settings.ts
  frontend/src/state.ts
  frontend/test/actions/settings.spec.ts
  frontend/test/components/app.spec.tsx
  frontend/test/reducers/settings.spec.ts
Due: frontend

add message component
  frontend/src/components/message.tsx
  frontend/test/components/__snapshots__/message.spec.tsx.snap
  frontend/test/components/message.spec.tsx
Due: frontend

add nodemailer
  backend/package.json
  backend/yarn.lock
Due: backend

add maildev to docker-compose
  docker-compose.yml
Due: none

add mail config
  backend/.env.example
  backend/src/services/config.ts
Due: backend

add email service
  backend/src/services/email.ts
  backend/src/services/tilt.ts
  backend/test/services/mock/email.ts
  backend/test/services/tilt.spec.ts
Due: backend

add email settings
  backend/src/entities/email-settings.ts
  backend/src/entities/settings.ts
  types/settings.d.ts
Due: backend

provide plain default values for email templates
  backend/src/entities/email-settings.ts
Due: backend

also load email relation
  backend/src/services/settings.ts
Due: backend

combine centering containers to single component
  frontend/src/components/centering.tsx
  frontend/src/components/login-signup-form.tsx
Due: frontend

rename form containers
  frontend/src/components/login-signup-form.tsx
Due: frontend

extract login image to component
  frontend/src/components/login-image.tsx
  frontend/src/components/login-signup-form.tsx
Due: frontend

dont reset form after login/signup
  frontend/src/actions/login.ts
  frontend/src/actions/signup.ts
Due: frontend

show message after signup
  frontend/src/components/blur-container.tsx
  frontend/src/components/fade-container.tsx
  frontend/src/components/login-signup-form.tsx
Due: frontend

make disabled button not clickable
  frontend/src/components/button.tsx
Due: frontend

return user role on login
  backend/src/controllers/users.ts
  backend/test/controllers/users.spec.ts
  types/user-login.d.ts
Due: backend

add user role to api responses
  frontend/src/api/backend-api.ts
  frontend/src/api/index.ts
  frontend/src/api/static-api.ts
Due: frontend

add user role to state and redux
  frontend/src/actions/role.ts
  frontend/src/reducers/index.ts
  frontend/src/reducers/role.ts
  frontend/src/state.ts
  frontend/test/reducers/role.spec.ts
Due: frontend

set user role after successful login
  frontend/src/actions/login.ts
  frontend/test/actions/login.spec.ts
Due: frontend

return the current user's role
  backend/src/controllers/users.ts
  backend/test/controllers/users.spec.ts
  types/user-role.d.ts
Due: backend

fetch role on app start
  frontend/src/actions/role.ts
  frontend/src/api/backend-api.ts
  frontend/src/api/index.ts
  frontend/src/api/static-api.ts
  frontend/src/components/app.tsx
  frontend/test/components/app.spec.tsx
Due: frontend

fetch role when searching users by credentials
  backend/src/services/user.ts
  backend/test/services/users.spec.ts
Due: backend

extract token handling to module
  frontend/src/api/backend-api.ts
  frontend/src/authentication.ts
Due: frontend

validate token expiration
  frontend/package.json
  frontend/src/authentication.ts
  frontend/yarn.lock
Due: frontend

let tokens expire after 2 weeks
  backend/src/services/tokens.ts
Due: backend

add api call to refresh the login token
  backend/src/controllers/users.ts
  backend/test/controllers/users.spec.ts
  types/user-refreshtoken.d.ts
Due: backend

add refresh token api calls
  frontend/src/api/backend-api.ts
  frontend/src/api/index.ts
  frontend/src/api/static-api.ts
Due: frontend

add token refresh redux action
  frontend/src/actions/token.ts
Due: frontend

add login redirection
  frontend/src/actions/boot.ts
  frontend/src/components/app.tsx
  frontend/src/index.tsx
  frontend/src/routes.ts
  frontend/test/components/__snapshots__/app.spec.tsx.snap
  frontend/test/components/app.spec.tsx
Due: frontend

only build src files
  frontend/webpack.config.js
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
