Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

replace uuid with counter to reduce bundle size
  frontend/src/hooks/use-uniqe-id.ts
  package.json
  yarn.lock
Due: frontend

allow admitting multiple users
  backend/src/controllers/application-controller.ts
  backend/src/controllers/dto.ts
  backend/src/controllers/users-controller.ts
  backend/src/services/application-service.ts
  backend/src/services/user-service.ts
  backend/test/services/application-service.spec.ts
  backend/test/services/mock/mock-user-service.ts
  backend/test/services/user-service.spec.ts
  frontend/src/api/index.ts
  frontend/src/components/pages/admission.tsx
Due: backend, frontend

improve name question heuristic
  frontend/src/heuristics.ts
Due: frontend

restrict answers to 1024 characters
  backend/src/entities/answer.ts
  frontend/src/components/base/text-input.tsx
Due: backend, frontend

render answers according to their configuration
  frontend/src/components/pages/admission.tsx
Due: frontend

fix application date switch
  frontend/src/api/index.ts
Due: frontend

display application metadata
  frontend/src/components/pages/admission.tsx
Due: frontend

add different row styles for application states
  frontend/src/components/pages/admission.tsx
Due: frontend

extract code component
  frontend/src/components/base/code.tsx
  frontend/src/components/settings/email-settings.tsx
Due: frontend

add special filters
  frontend/src/components/pages/admission.tsx
  frontend/src/util.ts
Due: frontend

fix table header checkbox checked for empty table
  frontend/src/components/pages/admission.tsx
Due: frontend

add blank status page
  frontend/src/components/app.tsx
  frontend/src/components/pages/status.tsx
  frontend/src/components/routers/authenticated-router.tsx
  frontend/src/components/routers/sidebar/sidebar.tsx
  frontend/src/routes.ts
Due: frontend

return user status on login
  backend/src/controllers/dto.ts
  backend/src/controllers/users-controller.ts
  backend/src/services/user-service.ts
  backend/test/controllers/users-controller.spec.ts
  frontend/src/api/index.ts
  frontend/src/components/pages/login-signup-form.tsx
  frontend/src/components/routers/sidebar/sidebar.tsx
  frontend/src/contexts/login-context.tsx
Due: backend, frontend

add util to check confirmation expiration
  frontend/src/components/pages/admission.tsx
  frontend/src/util.ts
Due: frontend

add confirmation form
  frontend/src/components/pages/confirmation-form.tsx
  frontend/src/components/routers/authenticated-router.tsx
  frontend/src/components/routers/sidebar/sidebar.tsx
  frontend/src/routes.ts
Due: frontend

revive settings date objects
  frontend/src/api/index.ts
  frontend/src/components/settings/application-settings.tsx
  frontend/src/util.ts
Due: frontend

return spinner when no settings are present
  frontend/src/contexts/settings-context.tsx
Due: frontend

revive user objects
  frontend/src/api/index.ts
Due: frontend

add status steps
  frontend/src/components/base/progress-step.tsx
  frontend/src/components/forms/form.tsx
  frontend/src/components/pages/login-signup-form.tsx
  frontend/src/components/pages/status.tsx
  frontend/src/contexts/login-context.tsx
Due: frontend

allow declining applications
  backend/src/controllers/application-controller.ts
  backend/src/controllers/dto.ts
  backend/src/entities/user.ts
  backend/src/services/application-service.ts
  backend/test/services/mock/mock-application-service.ts
  frontend/src/api/index.ts
  frontend/src/components/pages/admission.tsx
  frontend/src/components/pages/status.tsx
Due: backend, frontend

add missing api client method
  frontend/test/__mocks__/api.ts
Due: frontend

add blank statistics
  frontend/src/components/pages/lazy-statistics.tsx
  frontend/src/components/pages/statistics.tsx
  frontend/src/components/routers/authenticated-router.tsx
Due: frontend

prevent confirming declined applications
  backend/src/controllers/application-controller.ts
  backend/src/services/application-service.ts
Due: backend

add react-chartjs-2 and react-svg-worldmap
  package.json
  yarn.lock
Due: none

add chart components
  frontend/src/components/base/circle-chart.tsx
  frontend/src/components/base/time-chart.tsx
  frontend/src/components/base/worldmap.tsx
  frontend/src/config.ts
Due: frontend

add statistics
  frontend/src/components/base/collapsible.tsx
  frontend/src/components/base/titled-number.tsx
  frontend/src/components/pages/statistics.tsx
  frontend/src/util.ts
Due: frontend

fix spaces in choices editor disappearing
  frontend/src/components/forms/choices-question-editor.tsx
Due: frontend

fix decline button showing and status states
  frontend/src/components/pages/status.tsx
Due: frontend

fix table row coloring
  frontend/src/components/pages/admission.tsx
Due: frontend

add script to change user role
  backend/src/usermod.ts
Due: backend

add error boundary
  frontend/src/components/app.tsx
  frontend/src/components/base/error-boundary.tsx
Due: frontend

prevent unnecessary recalculation in admission
  frontend/src/components/pages/admission.tsx
Due: frontend

improve admission table render speed
  frontend/src/components/pages/admission.tsx
Due: frontend

correctly calculate confirmation deadline
  backend/src/services/application-service.ts
Due: backend

allow disabling inputs
  frontend/src/components/base/checkbox.tsx
  frontend/src/components/base/select.tsx
  frontend/src/components/base/text-input.tsx
  frontend/src/components/forms/choices-question.tsx
  frontend/src/components/forms/country-question.tsx
  frontend/src/components/forms/number-question.tsx
  frontend/src/components/forms/stringified-unified-question.tsx
  frontend/src/components/forms/text-question.tsx
  frontend/src/components/forms/unified-question.tsx
Due: frontend

disable forms depending on the user's state
  frontend/src/components/forms/form.tsx
  frontend/src/util.ts
Due: frontend

return index.html for all unknown routes
  backend/src/middlewares/404-middleware.ts
  backend/src/services/http-service.ts
Due: backend

allow configuring base url
  Dockerfile
  entrypoint.sh
  frontend/src/config.ts
  frontend/src/index.html
  frontend/src/index.tsx
Due: frontend

proxy tilt through real-world folder-rewrite
  docker-compose.yml
  proxy/nginx.conf
Due: none

fix http test suite
  backend/test/services/http-service.spec.ts
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
