Repository hackaburg/tilt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

use codecov -f instead --file
  backend/package.json
  frontend/package.json
Due: backend, frontend

use frontend flag in frontend codecov
  frontend/package.json
Due: frontend

specify codecov project root
  backend/package.json
  frontend/package.json
Due: backend, frontend

test config service
  backend/test/services/config.spec.ts
Due: backend

add react-router
  frontend/package.json
  frontend/src/index.tsx
  frontend/yarn.lock
Due: frontend

extend backend lint configuration
  frontend/tslint.json
Due: frontend

add react-redux
  frontend/package.json
  frontend/src/index.tsx
  frontend/src/reducers/index.ts
  frontend/src/state.ts
  frontend/yarn.lock
Due: frontend

add env plugin
  frontend/src/config.ts
  frontend/webpack.config.js
Due: frontend

add redux devtools
  frontend/src/index.tsx
Due: frontend

add documentation to app component
  frontend/src/components/app.tsx
Due: frontend

add api base url config
  frontend/src/config.ts
  frontend/webpack.config.js
Due: frontend

add api clients
  frontend/src/api/backend-api.ts
  frontend/src/api/index.ts
  frontend/src/api/static-api.ts
  types/api.d.ts
Due: frontend

perform additional typecheck in frontend
  .circleci/config.yml
Due: none

add cors during development
  backend/package.json
  backend/src/services/http.ts
  backend/yarn.lock
Due: backend

always use backend api if a base url is present
  frontend/src/api/index.ts
Due: frontend

add human readable css classes during development
  frontend/package.json
  frontend/webpack.config.js
  frontend/webpack.styled-components.js
  frontend/yarn.lock
Due: frontend

add settings entities
  backend/src/entities/frontend-settings.ts
  backend/src/entities/settings.ts
  types/settings.d.ts
Due: backend

add settings service
  backend/src/services/settings.ts
  backend/src/services/tilt.ts
  backend/test/services/mock/settings.ts
  backend/test/services/settings.spec.ts
  backend/test/services/tilt.spec.ts
Due: backend

add settings controller
  backend/src/controllers/settings.ts
  backend/test/controllers/settings.spec.ts
Due: backend

add settings api calls
  frontend/src/api/backend-api.ts
  frontend/src/api/index.ts
  frontend/src/api/static-api.ts
Due: frontend

provide sane default colors
  backend/src/entities/frontend-settings.ts
Due: backend

reset styles globally
  frontend/src/index.html
Due: frontend

add settings actions
  frontend/src/actions/index.ts
  frontend/src/actions/settings.ts
Due: frontend

add settings reducer
  frontend/src/reducers/index.ts
  frontend/src/reducers/settings.ts
  frontend/src/state.ts
Due: frontend

add themes
  frontend/src/theme.ts
Due: frontend

add button component
  frontend/src/components/button.tsx
Due: frontend

add text input component
  frontend/src/components/text-input.tsx
Due: frontend

add headings
  frontend/src/components/headings.tsx
Due: frontend

add css config values
  frontend/src/config.ts
Due: frontend

add centering components
  frontend/src/components/centering.tsx
Due: frontend

start work on login and signup forms
  frontend/src/components/login-form.tsx
  frontend/src/components/login-signup-form.tsx
  frontend/src/components/signup-form.tsx
Due: frontend

connect app to redux store
  frontend/src/components/app.tsx
  frontend/src/index.tsx
  frontend/test/components/__snapshots__/app.spec.tsx.snap
  frontend/test/components/app.spec.tsx
Due: frontend

use shorthand flags codecov flag
  backend/package.json
  frontend/package.json
Due: backend, frontend

add link color settings
  backend/src/entities/frontend-settings.ts
  frontend/src/api/static-api.ts
  frontend/src/components/app.tsx
  frontend/src/reducers/settings.ts
  frontend/src/theme.ts
  types/settings.d.ts
Due: backend, frontend

add link to login form
  frontend/src/components/link.tsx
  frontend/src/components/signup-form.tsx
Due: frontend

add react-spinners
  frontend/package.json
  frontend/yarn.lock
Due: frontend

default to empty image urls
  frontend/src/reducers/settings.ts
Due: frontend

display loader while no image is present
  frontend/src/components/login-signup-form.tsx
  frontend/src/components/signup-form.tsx
Due: frontend

add page sized container to centering
  frontend/src/components/centering.tsx
Due: frontend

merge signup and login form
  frontend/src/components/app.tsx
  frontend/src/components/login-form.tsx
  frontend/src/components/login-signup-form.tsx
  frontend/src/components/signup-form.tsx
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
